@import '~sass/variables';

.close-button {
  cursor: pointer;
  transition: all 0.3s;
  color: $color-primary;
}

.close-button:hover {
  color: $iq-red;
}

.error-text {
  color: $iq-red;
}

textarea {
  resize: vertical;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 80px;
  max-height: 320px;
}

.mode-selector {
  font-size: 140%;
  font-weight: 600;
}

// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $scroll-bg;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $scroll-thumb;
  border-radius: 2px;
  transition: $time-slow;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $scroll-hover;
}
