<div class="text-center justify-content-center"
  (keydown.escape)="onSpacePressed($event); $event.stopPropagation(); false">
  <div [formGroup]="form" class="mb-4 container">
    <section class="row mb-2 justify-content-center">
      <div class="col-12-sm text-center">
        <h2>
          New Question
        </h2>
      </div>
    </section>

    <section class="row">
      <textarea type="text" [(ngModel)]="questionText"
        (keydown.space)="onSpacePressed($event); $event.stopPropagation();"
        class="form-control iq-form col-sm-12 mb-2 txtarea-scroll"
        placeholder="Ask a question!"
        formControlName="question"
        (keyup)="checkFormComplete()">
      </textarea>
    </section>

    <section class="row justify-content-center mt-2"
      *ngIf="currentFileName === defaultFileName && !addLinkMode">
      <div class="col-4">
        <h5>
          <label>
            <input type="file" multiple accept='image/*' name="upload"
              (change)="createFileData($event.target.files)"/>
            <span class="iq-pill p-2">
              <i class="far fa-image"></i> {{ currentFileName }}
            </span>
          </label>
        </h5>
      </div>
      <div class="col-1">
        <h5 class="no-select">or</h5>
      </div>
      <div class="col-4">
        <h5>
          <span class="iq-pill p-2" (click)="addLinkMode = true"><i class="fas fa-link"></i> Link</span>
        </h5>
      </div>
    </section>

    <section class="row" *ngIf="currentFileName !== defaultFileName">
      <div class="col-6 offset-3">
        <h4 class="text-truncate"
          delay="600" tooltip="{{ currentFileName }}" placement="top">
          <span>{{ currentFileName }}</span>
        </h4>
      </div>
      <div class="col-1">
        <i class="fas fa-times cancel-upload fa-lg" (click)="cancelFileUpload()"></i>
      </div>
    </section>

    <section class="row mb-1" *ngIf="addLinkMode">
      <div class="col-11">
        <input class="form-control iq-form" formControlName="details" placeholder="Add link here" [(ngModel)]="linkText"/>
      </div>
      <div class="col-1 my-auto">
        <i class="fas fa-times cancel-upload fa-2x" (click)="cancelFileUpload()"></i>
      </div>
    </section>

    <section class="row">
      <div class="col-sm-12 line mb-2"></div>
    </section>

    <!-- Bubble Buttons -->
    <section class="row justify-content-center mb-1">
      <div class="col-sm-4" (click)="topicModeToggle()">
        <div class="mode" [ngClass]="{'selected': topicMode}" *ngIf="!selectedSubject">
          <b>Add Subject</b>
        </div>
        <div class="mode" [ngClass]="{'selected': topicMode}"
          *ngIf="selectedSubject" delay="600" tooltip="{{ selectedSubject }}" placement="bottom">
          <b>{{ selectedSubject }}</b>
        </div>
      </div>
      <div class="col-sm-4" (click)="sourceModeToggle()">
        <div class="mode" [ngClass]="{'selected': sourceMode}" *ngIf="!selectedSource">
          <b>Add Source</b>
        </div>
        <div class="mode" [ngClass]="{'selected': sourceMode}"
          *ngIf="selectedSource" delay="600" tooltip="{{ selectedSource }}" placement="bottom">
          <b>{{ selectedSource }}</b>
        </div>
      </div>
      <div class="col-sm-4" (click)="tagModeToggle()">
        <div class="mode" [ngClass]="{'selected': selectTagMode}">
          <b>Add Tags</b>
        </div>
      </div>
      <div class="col-sm-12 line my-2"></div>
    </section>

    <!-- Add Subject Field -->
    <section *ngIf="topicMode">
      <section class="row mb-2">
        <div class="col-12">
          <div class="row px-2">
            <input #subjectField
              [(ngModel)]="topicText"
              class="form-control iq-form col-11"
              formControlName="topic"
              placeholder="{{ subjectPlaceholder }}"
              (keyup)="subjectKeyup($event)"
              [typeahead]="subjectSearchResults"
              typeaheadOptionField="name"
              [typeaheadOptionsLimit]="5"
              [typeaheadMinLength]="3"
              (typeaheadOnSelect)="taSubjectSelected($event)"
              (typeaheadNoResults)="subjectNoResults($event)">
            <button class="btn text-center col-1 my-auto" (click)="addSubject()"
              placement="left"
              containerClass="iq-tooltip"
              tooltip="Don't see your subject? Click here to add it to Inquantir!"
              [disabled]="topicText.length < 3 || selectedSubject">
              <i class="fas fa-plus-circle plus-icon"></i>
            </button>
          </div>
        </div>
      </section>
    </section>

    <!-- Add Source Field -->
    <section *ngIf="sourceMode">
      <section class="row mb-2">
        <div class="col-12">
          <div class="row px-2">
            <input #sourceField
              [(ngModel)]="sourceText"
              class="form-control iq-form col-sm-11"
              formControlName="source"
              placeholder="{{ sourcePlaceholder }}"
              (keyup)="sourceKeyup($event)"
              [typeahead]="sourceSearchResults"
              typeaheadOptionField="name"
              [typeaheadOptionsLimit]="5"
              [typeaheadMinLength]="3"
              (typeaheadOnSelect)="taSourceSelected($event)"
              (typeaheadNoResults)="sourceNoResults($event)">
            <button class="btn text-center col-1 my-auto" (click)="addSource()"
              placement="left"
              containerClass="iq-tooltip"
              tooltip="Don't see your textbook/homework software? Click here to add it to Inquantir!"
              [disabled]="sourceText.length < 3 || selectedSource">
              <i class="fas fa-plus-circle plus-icon"></i>
            </button>
          </div>
        </div>
      </section>
    </section>

    <!-- Add Tag Section -->
    <section *ngIf="selectTagMode" class="row">
      <div class="col-12">
        <div class="row px-2">
          <input [(ngModel)]="tagText" formControlName="tagName"
            (keydown.enter)="addTagToCreatedTags(tagText)"
            class="form-control iq-form col-sm-11"
            placeholder="Add some tags here!">
          <button class="btn text-center col-1 my-auto" (click)="addTagToCreatedTags(tagText)"
            [disabled]="tagText.length < 3">
            <i class="fas fa-plus-circle plus-icon"></i>
          </button>
        </div>
        <div class="row justify-content-center">
          <div class="tag-container">
            <section class="col-sm-12 text-center" *ngIf="createdTags.length">
              <h4>Created Tags</h4>
              <div *ngFor="let tag of createdTags">
                <h5>
                  <span class="tag created text-center" (click)="deleteTagFromCreatedTags(tag)">{{ tag }}</span>
                </h5>
              </div>
            </section>

            <section class="col-sm-12 text-center" *ngIf="selectedSourceTags.length">
              <h4>Tags from Source</h4>
              <div *ngFor="let tag of selectedSourceTags">
                <h5>
                  <span class="tag text-center" (click)="addTag(tag)" [ngClass]="{'selected': addedTags.indexOf(tag) > -1}">{{ tag }}</span>
                </h5>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section style="position:relative;">
    <i class="fas fa-times fa-2x close-button" (click)="close()"></i>
    <div>
      <button class="btn iq-btn-1 ask-button"
        (click)="askQuestion()"
        [disabled]="!formComplete">
        Ask
      </button>
    </div>
  </section>
</div>
