<div class="container mt-3" *ngIf="topicResponse && topicResponseSuccess && questions && user">

  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="text-center"><b>{{ subject.name }}</b></h2>
    </div>
  </div>

  <div class="row justify-content-center mb-4">
    <div class="col-12 text-center">
      <div class="btn iq-btn-1 mt-2"
        *ngIf="!user.currentSubjects.includes(subject.name)"
        (click)="followButtonClicked()">Follow</div>

      <div class="text-followed pt-2 mt-2" *ngIf="user.currentSubjects.includes(subject.name)">Followed</div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6 question-column py-2">
      <div class="row justify-content-center" *ngFor="let question of questions">
        <div class="col-12">
          <app-questioncard
            [question]="question"
            [questionText]="question.questionText"
            [poster]="question.previewAnswer ? question.previewAnswer.poster : ''"
            [answerText]="question.previewAnswer ? question.previewAnswer.answerText : ''">
          </app-questioncard>
        </div>
      </div>
    </div>
  </div>
</div>

<article class="container mt-3" *ngIf="topicResponse && topicResponseSuccess && questions && questions.length === 0">
  <div class="row justify-content-center mt-5">
    <div class="col-md-10 col-sm-12 col-12 text-center">
      <h3><b>Ah beans! This subject seems to be empty...</b></h3>
      <h3>Maybe ask some new questions?</h3>
    </div>
  </div>
</article>

<article class="container mt-3" *ngIf="topicResponse && !topicResponseSuccess">
  <div class="row justify-content-center mt-5">
    <div class="col-md-10 col-sm-12 col-12 text-center">
      <h3><b>404 Error</b></h3>
      <h3>The topic you seek does not exist</h3>
    </div>
  </div>
</article>
