@import '~sass/variables';

a:hover {
  text-decoration: none;
}

.library-url {
  color: $font-main;
  transition: all $time-fast;
}

.library-url:hover {
  color: $color-primary;
}

.source-link {
  border-bottom: solid 2px rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: all 0.3s;
}

.source-link:hover {
  border-color: $color-primary;
}
