<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-sm-8 text-center">
      <h1>Inquantir is...</h1>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-4 text-center">
      <h3>A Learning Platform</h3>
      <p><font size="4">Inquantir aims to help learning by giving answers that <em>explain</em> the topic,
        as opposed to just giving the solution. Help on your homework doesn't need to be spread across multiple
        sites.</font></p>
    </div>
    <div class="col-lg-4 text-center">
      <h3>Free</h3>
      <p><font size="4">Our platform is totally free! As a user, you can ask and answer questions for free,
        as well as read and write other answers.</font></p>
    </div>
    <div class="col-lg-4 text-center">
      <h3>High-Quality</h3>
      <p><font size="4">Inquantir is devoted to high-quality answers, and relies on our users and verified faculty
        to do so. Users can vote on answers and questions, allowing Inquantir to decide which ones to keep.</font></p>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-sm-10 text-center">
      <img src="https://drive.google.com/uc?export=view&id=1zDN0yyCPSzSCkDdNTwCE95NkL-lFtRc3">
    </div>
  </div>

  <div class="row mt-5 justify-content-center">
    <div class="col-sm-8 text-center">
      <p><font size="4">The mission of Inquantir is to provide academic help without charging more money on top of
        tuition and textbook costs. We emphasize understanding of the material, as opposed to just giving out
        answers. It doesn't matter whether or not you're a student, everyone is welcome!</font></p>
      </div>
  </div>
</div>
