
$color-primary: #ca02d1;
$primary: #ca02d1;
$color-primary-light: #f953ff;
$color-primary-very-light: #fb8aff;

$color-primary-grey: #fee8ff;
$color-primary-grey-highlighted: #fdccff;

$iq-form-hover-grey: #878787;
$iq-form-default-grey: #ddd;

$main-bg-color: #f3f3f3;

$iq-red: #fa4d14;

// Dropdown colors
$dropdown-row-bg: #e0e0e0;

// Pure colors
$white: #fff;
$black: #000;


/* TEXT */
$font-main: #505050;
$font-light: #afafaf;
$font-disabled: #8a8a8a;

$time-slow: 0.4s;
$time-fast: 0.23s;


// Scrollbar
$scroll-bg: #fdcfff;
$scroll-thumb: #f953ff;
$scroll-hover: #f98cff;
