/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './variables';
@import './mixins';
@import './animations';
@import '~katex/dist/katex.css';
@import './IQthyosaur/base.scss';

*:focus {
  outline: none;
}

.btn:focus {
  outline: none;
}

.iq-prepend:focus {
  outline: none;
}

.cdk-global-scrollblock {
  overflow-y: hidden!important;
}

/* These will all be Bootstrap overrides*/
input {
  border-radius: 9px!important;
}

textarea {
  border-radius: 9px!important;
  overflow-x: auto;
  resize: vertical;
}

.txtarea-scroll::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  padding-top: 70px;
}

.iq-append {
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
  border-top-right-radius: 9px!important;
  border-bottom-right-radius: 9px!important;
  border-left-color: $color-primary;
  transition: all 0.3s;
  outline: none;
}

.iq-prepend {
  transition: all 0.4s;
  border-top-left-radius: 9px!important;
  border-bottom-left-radius: 9px!important;
  border-color: $color-primary;
  outline: none;
  border-width: 1px;
  background-color: $white;
}

.iq-prepend.enabled {
  color: $color-primary;
}

.iq-prepend.disabled {
  color: #ccc;
  pointer-events: none;
}

.iq-prepend:hover.enabled {
  background-color: $color-primary;
  color: #fff;
}

.btn-primary {
  background-color: rgb(175, 0, 181);
  border-color: rgb(175, 0, 181);
  border-radius: 20px;
}

.btn-primary:hover {
  background-color: rgb(158, 0, 163);
  border-color: rgb(158, 0, 163);
}

.hide-element {
  display:none;
}

.no-events {
  pointer-events: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

// Bootstrap
::ng-deep .dropdown-menu {
  border-radius: 9px!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
}

::ng-deep .dropdown {
  border-radius: 9px!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
}

.dropdown-item {
  border-radius: 9px!important;
}

.dropdown-box {
  border-radius: 9px;
  background-color: #fff;
}

.dropdown-row {
  cursor: pointer;
  border-radius: 20px;
  margin-right: 5px;
  margin-left: 5px;
  transition: all 0.3s;
}

.dropdown-row:hover {
  background-color: #ececec;
}

.dropdown-row:hover, .dropdown-row:hover .red {
  color: $iq-red;
}

.dropdown-row:hover, .dropdown-row:hover .normal {
  color: $color-primary;
}

.dropdown-text {
  color: #666;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s;
}

.dialog-popup .mat-dialog-container {
  border-radius: 10px;
}
