@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './variables.scss';
@import './mixins.scss';
@import './animations.scss';
@import '~katex/dist/katex.css';
@import './IQthyosaur/base.scss';

*:focus {
  outline: none;
}

.btn:focus {
  outline: none;
}

.iq-prepend:focus {
  outline: none;
}

.cdk-global-scrollblock {
  overflow-y: hidden!important;
}

.question-column {
  background-color: $main-bg-color;
  border-radius: 19px;
}

/* These will all be Bootstrap overrides*/
input {
  border-radius: 19px!important;
}

textarea {
  border-radius: 19px!important;
  overflow-x: auto;
  resize: vertical;
}

.txtarea-scroll::-webkit-scrollbar {
  display: none;
}

html {
  overflow-y: overlay!important;
}

body {
  overflow-x: hidden;
  padding-top: 70px;
  font-family: 'Noto Sans JP', sans-serif;
}

.main {
  position: fixed;
  top: 76px;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: auto;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.btn-primary {
  background-color: rgb(175, 0, 181);
  border-color: rgb(175, 0, 181);
  border-radius: 20px;
}

.btn-primary:hover {
  background-color: rgb(158, 0, 163);
  border-color: rgb(158, 0, 163);
}

.hide-element {
  display:none;
}

.no-events {
  pointer-events: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

// Bootstrap
// dropdown for search
::ng-deep .dropdown-menu {
  border-radius: 12px!important;
}

::ng-deep .dropdown {
  border-radius: 12px!important;
}

// Dropdown for profile button
.dropdown-item {
  border-radius: 12px!important;
}

.dropdown-box {
  border-radius: 12px;
  background-color: #fff;
}

.dropdown-row {
  cursor: pointer;
  border-radius: 999px;
  margin-right: 5px;
  margin-left: 5px;
  transition: all 0.3s;
}

.dropdown-row:hover {
  background-color: #ececec;
}

.dropdown-row:hover, .dropdown-row:hover .red {
  color: $iq-red;
}

.dropdown-row:hover, .dropdown-row:hover .normal {
  color: $color-primary;
}

.dropdown-text {
  color: #666;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s;
}

.dialog-popup .mat-dialog-container {
  border-radius: 14px;
}

// Scrollbar
// Width
::-webkit-scrollbar {
  width: 6px;
}

// Track
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

// Handle
::-webkit-scrollbar-thumb {
  background: $color-primary-light;
  border-radius: 10px;
}

// Handle - Hover
::-webkit-scrollbar-thumb:hover {
  background: $color-primary-very-light;
}
