@import '~src/sass/variables';

.jumbotron {
  padding-top: 10%;
  background-color: white;
}

.field-success {
  border-color: #2df77e;
  box-shadow: inset 0 1px 3px rgba(36, 209, 105, 0.4), 0 0 5px rgba(45, 247, 126, 0.7);
}

.field-failure {
  border-color: #fa3e3e;
  box-shadow: inset 0 1px 3px rgba(212, 49, 49, 0.4), 0 0 5px rgba(250, 62, 62, 0.7);
}

.grey-text {
  color: #adadad;
}

.login {
  transition: 0.4s;
  cursor: pointer;
}

.login:hover {
  color: $color-primary;
}

/* Icon Back */
.hvr-icon-back {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-back .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-back:hover .hvr-icon, .hvr-icon-back:focus .hvr-icon, .hvr-icon-back:active .hvr-icon {
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
