<div class="jumbotron">
  <div class="container">
    <div class="row justify-content-center">
      <h2 class="page-header">Register</h2>
    </div>
    <div class="row justify-content-center">
      <form (submit)="onRegisterSubmit()" class="col-lg-4 col-md-6 col-sm-10 col-xs-12">
        <div class="form-group">
          <input type="text" [(ngModel)]="firstName" name="firstName" class="form-control l iq-form" placeholder="First Name">
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="lastName" name="lastName" class="form-control l iq-form" placeholder="Last Name">
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="handle" name="handle" class="form-control l iq-form" placeholder="Pick a username!">
        </div>
        <div class="form-group">
          <input type="email" [(ngModel)]="email" name="email" class="form-control l iq-form" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="password" name="password" class="form-control l iq-form" placeholder="Password">
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn iq-button" value="Submit">Register</button>
        </div>
      </form>
    </div>
    <div class="row justify-content-center">
      <span [routerLink]="['/login']" class="hvr-icon-back login">
        <i class="fas fa-chevron-left hvr-icon"></i><font size="4"> Login</font>
      </span>
    </div>
    <!--
    <div class="row justify-content-center" style="padding-bottom:10px;">
      <span class="grey-text"><font size="3">or register with</font></span>
    </div>
    <div class="row justify-content-center">
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div> -->
  </div>
</div>
