@import '~sass/variables';

.card {
  border: 1px solid $color-primary;
  border-radius: 15px;
}

.account-button {
  border-radius: 19px;
  color: #FFF;
  background-color: $color-primary;
  transition: all 0.3s;
}

.gradient-bg {
  background: linear-gradient(90deg, rgba(2, 173, 241, 0.8) 0%, rgba(224, 85, 201, 0.8) 63%, rgba(209, 2, 168, 0.8) 100%);
}

.round-row {
  margin-left: 0px !important;
  width: 100vw;
}

.white-text {
  color: #FFF;
}

.flavor-text-icon {
  color: $color-primary;
}

.google-btn {
  cursor: pointer;
  transition: 0.3s;
}

.google-btn:hover {
  opacity: 0.7;
}

.card-bg {
  background: $main-bg-color;
  border-radius: 15px;
}

.tab-circle {
  display: inline-block;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  background: #d7d7d7;
  cursor: pointer;
}

.tab-circle.selected {
  background: $color-primary;
  pointer-events: none;
}

.landing-page-row {
  height: 373px;
}
