@import '~sass/variables';

.library-url {
  transition: all 0.3s;
  cursor: pointer;
  color: $font-main;
}

.library-url:hover {
  color: $color-primary;
}

.lib-info-text {
  color: #7c7c7c;
}

.lib-info-anchor {
  color: #1072b0;
}

.subject-url {
  border-bottom: solid 3px rgb(0,0,0);
  border-bottom: solid 3px rgba(0,0,0,0);
  display: inline;
  line-height: 1.5em;
  transition: 0.3s;
}

.subject-url:hover {
  border-bottom: solid 3px $color-primary;
  cursor: pointer;
}

.card-subject {
  border-bottom: solid 3px rgb(0,0,0);
  border-bottom: solid 3px rgba(0,0,0,0);
  cursor: pointer;
  transition: 0.3s;
}

.card-subject:hover {
  border-bottom: solid 3px $color-primary;
}

.follow-button {
  height: 36px;
  width: 90px;
}

.text-followed {
  color: rgb(164,164,164);
  cursor: pointer;
  height: 36px;
  box-sizing: border-box;
  border-radius: 999px;
  transition: all 0.3s;
}

.text-followed:hover {
  background-color: rgb(244,244,244);
}

.discover-followed {
  color: rgb(164,164,164);
  cursor: pointer;
  border-radius: 999px;
  transition: all 0.3s;
}

.discover-followed:hover {
  background-color: rgb(244,244,244);
}

.subject-ribbon {
  background-color: $main-bg-color;
}

.side-arrow {
  transition: all 0.3s;
  font-size: 30px;
  cursor: pointer;
}

.side-arrow:disabled {
  pointer-events: none;
  color: #cdcdcd;
}

.side-arrow:hover {
  color: $color-primary;
}

.profile-alert {
  background-color: #eee;
  color: #666;
}
