@import '~sass/variables';

.library-url {
  transition: all 0.3s;
  cursor: pointer;
  color: $font-main;
}

.library-url:hover {
  color: $color-primary;
}

.lib-info-text {
  color: #7c7c7c;
}

.lib-info-anchor {
  color: #1072b0;
}

.subject-url {
  border-bottom: solid 3px rgb(0,0,0);
  border-bottom: solid 3px rgba(0,0,0,0);
  display: inline;
  line-height: 1.5em;
  transition: 0.3s;
}

.subject-url:hover {
  border-bottom: solid 3px $color-primary;
  cursor: pointer;
}

.card-subject {
  border-bottom: solid 3px rgb(0,0,0);
  border-bottom: solid 3px rgba(0,0,0,0);
  cursor: pointer;
  transition: 0.3s;
}

.card-subject:hover {
  border-bottom: solid 3px $color-primary;
}

.follow-button {
  height: 36px;
  width: 90px;
}

.text-followed {
  color: rgb(186,186,186);
  cursor: default;
  height: 36px;
  box-sizing: border-box;
}

.subject-ribbon {
  background-color: #f5f5f5;
}

.side-arrow {
  transition: all 0.43s;
  font-size: 30px;
}

.side-arrow.disabled {
  color: #cdcdcd;
}

.side-arrow.enabled:hover {
  color: $color-primary;
  cursor: pointer;
}

.profile-alert {
  background-color: #eee;
  color: #666;
}
