<!-- IF USER DOESN'T FOLLOW ANY SUBJECTS -->
<section *ngIf="user">

  <div class="row" *ngIf="!hasUserFilledProfile(user)">
    <div class="col-12 pt-3 pb-3 text-center profile-alert">
      {{ createHelpText(this.user) }}
    </div>
  </div>

  <div class="row subject-ribbon justify-content-center py-3"
    *ngIf="arrayOfSubjects && user && user.currentSubjects.length < 3">
    <div class="col-1 text-center my-auto pl-4 pl-lg-2">
      <button [disabled]="subjectOffset === 0" class="btn side-arrow">
        <i class="fas fa-chevron-left" (click)="leftArrowClicked()"></i>
      </button>
    </div>

    <div class="col-10 justify-content-center">
      <div class="row">

        <!-- LAPTOPS AND LARGE SCREENS -->
        <div *ngFor="let subject of nSubjects(4)" class="col-3 text-center d-none d-lg-block">
          <div class="col-11 iq-card mx-auto text-center py-2">
            <div><h4 (click)="onSubjectNameClicked(subject.subjectURL)" class="subject-url">{{ subject.name }}</h4></div>
            <div class="btn iq-btn-1 mt-2"
            *ngIf="!user.currentSubjects.includes(subject.name)"
            (click)="followButtonClicked(subject)">Follow</div>

            <div class="text-followed pt-2 mt-2"
              (click)="followButtonClicked(subject)"
              *ngIf="user.currentSubjects.includes(subject.name)">Followed</div>
          </div>
        </div>

        <!-- MEDIUM SCREENS -->
        <div *ngFor="let subject of nSubjects(3)" class="col-4 text-center d-none d-md-block d-lg-none">
          <div class="col-11 iq-card mx-auto py-2">
            <div><h4 (click)="onSubjectNameClicked(subject.subjectURL)" class="subject-url">{{ subject.name }}</h4></div>
            <div class="btn iq-btn-1 mt-2"
            *ngIf="!user.currentSubjects.includes(subject.name)"
            (click)="followButtonClicked(subject)">Follow</div>

            <div class="text-followed pt-2 mt-2"
              (click)="followButtonClicked(subject)"
              *ngIf="user.currentSubjects.includes(subject.name)">Followed</div>
          </div>
        </div>

        <!-- SMALL SCREENS -->
        <div *ngFor="let subject of nSubjects(2)" class="col-6 text-center d-none d-sm-block d-md-none">
          <div class="col-11 iq-card mx-auto py-2">
            <div><h4 (click)="onSubjectNameClicked(subject.subjectURL)" class="subject-url">{{ subject.name }}</h4></div>
            <div class="btn iq-btn-1 mt-2"
            *ngIf="!user.currentSubjects.includes(subject.name)"
            (click)="followButtonClicked(subject)">Follow</div>

            <div class="text-followed pt-2 mt-2"
              (click)="followButtonClicked(subject)"
              *ngIf="user.currentSubjects.includes(subject.name)">Followed</div>
          </div>
        </div>

        <!-- EXTRA SMALL SCREENS -->
        <div *ngFor="let subject of nSubjects(1)" class="col-12 text-center d-block d-sm-none">
          <div class="col-11 iq-card mx-auto py-2">
            <div><h4 (click)="onSubjectNameClicked(subject.subjectURL)" class="subject-url">{{ subject.name }}</h4></div>
            <div class="btn iq-btn-1 mt-2"
              *ngIf="!user.currentSubjects.includes(subject.name)"
              (click)="followButtonClicked(subject)">Follow</div>

            <div class="text-followed pt-2 mt-2"
              (click)="followButtonClicked(subject)"
              *ngIf="user.currentSubjects.includes(subject.name)">Followed</div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-1 text-center my-auto pr-4 pr-lg-2">
      <button [disabled]="subjectOffset === calcMaxOffset() - 1" class="btn side-arrow">
        <i class="fas fa-chevron-right" (click)="rightArrowClicked()"></i>
      </button>
    </div>
  </div>

</section>

<div class="pt-2" *ngIf="arrayOfSubjects && user">
  <h2 class="text-center">Your Feed</h2>
</div>

<!-- IF USER HAS ALREADY FOLLOWED A SUBJECT -->
<section *ngIf="user">
  <div class="container">
    <div class="row">

      <article *ngIf="user" class="col-md-3 d-none d-md-block">
        <!-- Discover Section -->
        <app-discover *ngIf="arrayOfSubjects && arrayOfSubjects.length && user.currentSubjects.length"
          [subjects]="arrayOfSubjects"
          [userSubjects]="user.currentSubjects"
          (sendFollow)="followButtonClicked($event)"
          (sendUnfollow)="followButtonClicked($event)">

        </app-discover>

        <!-- Library -->
        <div class="ml-2">
          <a [routerLink]="['/library']"><h2 class="library-url no-select">Your Library</h2></a>
        </div>
        <div *ngIf="user.currentSources.length" class="ml-2">
          <div *ngFor="let source of user.currentSources" class="mb-2">
            <div>
              <span (click)="onSourceClicked(source)">
                <h5 class="subject-url no-select">{{ source }}</h5>
              </span>
              <div class="detail-view">

              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!user.currentSources.length" class="lib-info-text">
          It looks like your library is empty! You can change that
            <a class="lib-info-anchor" href=""[routerLink]="['/library']">here</a>
        </div>
      </article>

      <article *ngIf="questions" class='col-sm-12 col-md-9 col-lg-6 justify-content-center'>
        <div class="text-center question-column py-2 col-12">
          <div class="row" *ngFor="let question of questions">
            <div class="col-12">
              <app-questioncard
                [question]="question"
                [questionText]="question.questionText"
                [poster]="question.previewAnswer ? question.previewAnswer.poster : ''"
                [answerText]="question.previewAnswer ? question.previewAnswer.answerText : ''"
                [cardType]="calculateCardType(question.questionText, question.subject)">
              </app-questioncard>
            </div>
          </div>
        </div>
      </article>

      <div *ngIf="user && user.currentSubjects.length" class="col-lg-3 d-none d-lg-block">
        <div *ngFor="let subject of user.currentSubjects" class="mb-2">
          <div>
            <span>
              <a [routerLink]="'/iqt/' + toSubjectURL(subject)">
                <h5 class="subject-url">{{ subject }}</h5>
              </a>
            </span>
            <div class="detail-view">

            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!user.currentSubjects.length" class="col-lg-3">

      </div>

    </div>
  </div>
</section>
