.horizontal {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.h-component {
    display: inline-block;
    flex-grow: 1;
    height:100px;
    width: calc(100% * (1/4) - 10px - 1px)
}
