<!-- IF USER DOESN'T FOLLOW ANY SUBJECTS -->
<section *ngIf="user">

  <div class="row" *ngIf="!hasUserFilledProfile(user)">
    <div class="col-12 pt-3 pb-3 text-center profile-alert">
      {{ createHelpText(this.user) }}
    </div>
  </div>

  <div class="row subject-ribbon justify-content-center py-3 mb-2" *ngIf="arrayOfSubjects">
    <div class="col-1 text-center my-auto">
      <i class="fas fa-chevron-left side-arrow disabled" (click)="leftArrowClicked()"
        [ngClass]="{'disabled': subjectOffset === 0, 'enabled': !(subjectOffset === 0)}"></i>
    </div>

    <div class="col-10 justify-content-center">
      <div class="row">

        <!-- LAPTOPS AND LARGE SCREENS -->
        <div *ngFor="let subject of nSubjects(4)" class="col-3 text-center d-none d-lg-block">
          <div class="col-11 iq-card mx-auto text-center py-2">
            <div><h4 (click)="onSubjectNameClicked(subject.subjectURL)" class="subject-url">{{ subject.name }}</h4></div>
            <div class="btn iq-btn-1 mt-2"
            *ngIf="!user.currentSubjects.includes(subject.name)"
            (click)="followButtonClicked(subject)">Follow</div>

            <div class="text-followed pt-2 mt-2" *ngIf="user.currentSubjects.includes(subject.name)">Followed</div>
          </div>
        </div>

        <!-- MEDIUM SCREENS -->
        <div *ngFor="let subject of nSubjects(3)" class="col-4 text-center d-none d-md-block d-lg-none">
          <div class="col-11 iq-card mx-auto py-2">
            <div><h4 (click)="onSubjectNameClicked(subject.subjectURL)" class="subject-url">{{ subject.name }}</h4></div>
            <div class="btn iq-btn-1 mt-2"
            *ngIf="!user.currentSubjects.includes(subject.name)"
            (click)="followButtonClicked(subject)">Follow</div>

            <div class="text-followed pt-2 mt-2" *ngIf="user.currentSubjects.includes(subject.name)">Followed</div>
          </div>
        </div>

        <!-- SMALL SCREENS -->
        <div *ngFor="let subject of nSubjects(2)" class="col-6 text-center d-none d-sm-block d-md-none">
          <div class="col-11 iq-card mx-auto py-2">
            <div><h4 (click)="onSubjectNameClicked(subject.subjectURL)" class="subject-url">{{ subject.name }}</h4></div>
            <div class="btn iq-btn-1 mt-2"
            *ngIf="!user.currentSubjects.includes(subject.name)"
            (click)="followButtonClicked(subject)">Follow</div>

            <div class="text-followed pt-2 mt-2" *ngIf="user.currentSubjects.includes(subject.name)">Followed</div>
          </div>
        </div>

        <!-- EXTRA SMALL SCREENS -->
        <div *ngFor="let subject of nSubjects(1)" class="col-12 text-center d-block d-sm-none">
          <div class="col-11 iq-card mx-auto py-2">
            <div><h4 (click)="onSubjectNameClicked(subject.subjectURL)" class="subject-url">{{ subject.name }}</h4></div>
            <div class="btn iq-btn-1 mt-2"
            *ngIf="!user.currentSubjects.includes(subject.name)"
            (click)="followButtonClicked(subject)">Follow</div>

            <div class="text-followed pt-2 mt-2" *ngIf="user.currentSubjects.includes(subject.name)">Followed</div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-1 text-center my-auto">
      <i class="fas fa-chevron-right side-arrow disabled" (click)="rightArrowClicked()"
        [ngClass]="{'disabled': subjectOffset === calcMaxOffset() - 1, 'enabled': !(subjectOffset === calcMaxOffset() - 1)}"></i>
    </div>
  </div>

</section>

<!-- IF USER HAS ALREADY FOLLOWED A SUBJECT -->
<section *ngIf="user">
  <div class="container">
    <div class="row">

      <div *ngIf="user" class="col-lg-3">
        <div>
          <h2 class="library-url" [routerLink]="['/library']">Library</h2>
        </div>
        <div *ngIf="user.currentSources.length">
          <div *ngFor="let source of user.currentSources" class="mb-2">
            <div>
              <span (click)="onSourceClicked(source)"><h4 class="subject-url">{{ source }}</h4></span>
              <div class="detail-view">

              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!user.currentSources.length" class="lib-info-text">
          It looks like your library is empty! You can change that
            <a class="lib-info-anchor" href=""[routerLink]="['/library']">here</a>
        </div>
      </div>

      <article *ngIf="questions" class='col-lg-6 justify-content-center'>
        <h2 class="text-center">Questions For You</h2>
        <div class="text-center question-col py-2 col-12">
          <div class="row" *ngFor="let question of questions">
            <div class="col-12">
              <app-questioncard
                [question]="question"
                [questionText]="question.questionText"
                [poster]="question.previewAnswer ? question.previewAnswer.poster : ''"
                [answerText]="question.previewAnswer ? question.previewAnswer.answerText : ''">
              </app-questioncard>
            </div>
          </div>
        </div>
      </article>

      <div *ngIf="user && user.currentSubjects.length" class="col-lg-3">
        <div *ngFor="let subject of user.currentSubjects" class="mb-2">
          <div>
            <span (click)="onSubjectNameClicked(subject)"><h4 class="subject-url">{{ subject }}</h4></span>
            <div class="detail-view">

            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!user.currentSubjects.length" class="col-lg-3">

      </div>

    </div>
  </div>
</section>
