@import '~sass/variables';

.answernum-text {
  color: #afafaf;
}

.options-bar-icon {
  font-size: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.options-bar-icon:hover {
  color: $color-primary;
}

.subject-url {
  border-bottom: solid 3px rgb(0,0,0);
  border-bottom: solid 3px rgba(0,0,0,0);
  display: inline;
  line-height: 1.5em;
  transition: 0.3s;
}

.subject-url:hover {
  border-bottom: solid 3px $color-primary;
  cursor: pointer;
}

.question-box {
  border: 1px solid $color-primary;
  border-radius: 10px;
  margin-bottom: 1em;
  padding-left: 3px;
  padding-right: 3px;
}

.question-url {
  cursor: pointer;
  font-size: 1.4em;
  transition: 0.3s;
}

.question-url:hover {
  text-decoration: underline;
}

.preview-text {
  font-size: 1.1em;
}

.poster-text {
  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.3s;
}

.poster-text:hover {
  text-decoration: underline;
}

.follow-button {
  border-color: $color-primary;
  border-radius: 19px;
  box-sizing: border-box;
  color: #525559;
  cursor: pointer;
  height: 36px;
  transition: 0.4s;
  width: 90px;
}

.follow-button:hover {
  background-color: $color-primary;
  color: #fff;
}

.text-followed {
  color: rgb(186,186,186);
  cursor: default;
  height: 36px;
  box-sizing: border-box;
}

.subject-ribbon {
  background-color: #fbfbfb;
}

.side-arrow {
  transition: all 0.43s;
  font-size: 30px;
}

.side-arrow.disabled {
  color: #cdcdcd;
}

.side-arrow.enabled:hover {
  color: $color-primary;
  cursor: pointer;
}

.profile-alert {
  background-color: #eee;
  color: #666;
}
