.horizontal {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.h-component {
    display: inline-block;
    flex-grow: 1;
    height:100px;
    width: calc(100% * (1/4) - 10px - 1px)
}

.subject-url {
  transition: 0.3s;
  border-bottom: solid 3px rgba(0,0,0,0);
  display: inline;
  line-height: 1.5em;
}

.subject-url:hover{
  border-bottom: solid 3px #af00b5;
  cursor: pointer;
}

.question-url{
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.3em;
}

.question-url:hover{
  text-decoration: underline;
}

.bigbox{
  border: 1px solid #af00b5;
}
