<div class="horizontal" *ngIf="subjects">
  <ng-container *ngFor="let subject of subjects">
    <div class="subject-url">
      <span (click)="subjectClicked(subject)">{{ subject }}</span>
    </div>
  </ng-container>
</div>
<br><br>
<div *ngIf="questions">
  <h2>Questions</h2>
  <div class="table-responsive">
    <table class="table" *ngFor="let question of questions">
      <tr>
        <th (click)="questionClicked(question.questionText)"><span class="question-url">{{question.questionText}}</span></th>
      </tr>
    </table>
  </div>
</div>
<div *ngIf="!questions">
  There are no questions on this topic. Maybe try asking a few!
</div>
