@import '~sass/variables';

// Typeahead model
::ng-deep .dropdown-menu { border-radius: 9px!important; }
::ng-deep .dropdown-item {
  height: auto;
  word-wrap: break-word;
  white-space: normal;
  padding-left: 5px!important;
  padding-right: 5px!important;
}
::ng-deep .dropdown-item.active {
  background-color: $color-primary!important;
  height: auto;
}

.typeahead-container {
  border-radius: 9px!important;
}

.nav-margins {
  padding-left: 18%;
  padding-right: 18%;
}

.navbar-custom {
  background-color: #fff!important;
}

@media (max-width: 768px) {
  ::ng-deep .dropdown-menu {
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 100% !important;
  }
  .navbar-large {
    display: none;
  }
}

@media (min-width: 767px) {
  .navbar-small {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .navbar-searchbar {
    width: 5vw!important;
  }

  .typeahead-item {
    width: 5vw!important;
  }

  ::ng-deep .dropdown-menu { width: 5vw!important; }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar-searchbar {
    width: 8vw!important;
  }

  .typeahead-item {
    width: 8vw!important;
  }

  ::ng-deep .dropdown-menu { width: 8vw!important; }
  ::ng-deep .dropdown-item { width: 8vw!important; }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .navbar-searchbar {
    width: 14vw!important;
  }

  .typeahead-item {
    width: 14vw!important;
  }

  ::ng-deep .dropdown-menu { width: 14vw!important; }
  ::ng-deep .dropdown-item { width: 14vw!important; }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .navbar-searchbar {
    width: 16vw!important;
  }

  .typeahead-item {
    width: 16vw!important;
  }

  ::ng-deep .dropdown-menu { width: 16vw!important; }
  ::ng-deep .dropdown-item { width: 16vw!important; }
}

@media only screen and (max-width: 768px) {
  .nav-margins {
    margin-left: 0px;
    margin-right: 0px;
  }
}

#center-button {
  border-color: $color-primary;
  border-radius: 19px;
  color: #525559;
  position: absolute;
  transition: 0.4s;
}

#center-button:hover {
  background-color: $color-primary;
  color: #fff;
}


.line {
  border-bottom: 1px solid rgba(181, 0, 189,.3);
}

.active-line {
  height: 1px;
  border-bottom: 2px solid $color-primary;
  position: absolute;
  bottom: 0;
}

.navbar-text {
  position: absolute;
}

.nav-text-purple {
  color: $color-primary;
  position: relative;
}

.nav-text-purple:hover {
  opacity: 0.7;
  color: $color-primary;
}

// Mobile
.mobile-nav-icon {
  cursor: pointer;
}
.mobile-nav-icon:hover {
  cursor: pointer;
}

.mobile-nav-icon:active {
  color: $color-primary
}

.mobile-nav-icon:focus {
  color: $color-primary
}

.icon-disabled {
  color: $font-disabled;
}
