@import '~src/sass/variables';

.nav-margins {
  padding-left: 18%;
  padding-right: 18%;
}

.navbar-custom {
  background-color: #fff!important;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .navbar-searchbar {
    width: 9vw!important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar-searchbar {
    width: 8vw!important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .navbar-searchbar {
    width: 14vw!important;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .navbar-searchbar {
    width: 18vw!important;
  }
}

@media only screen and (max-width: 768px) {
  .nav-margins{
    margin-left: 0px;
    margin-right: 0px;
  }
}

#center-button {
  border-color: $color-primary;
  border-radius: 19px;
  color: #525559;
  position: absolute;
  transition: 0.4s;
}

#center-button:hover {
  background-color: $color-primary;
  color: #fff;
}


.line {
  border-bottom: 1px solid rgba(181, 0, 189,.3);
}

.active-line {
  height: 1px;
  border-bottom: 2px solid $color-primary;
  position: absolute;
  bottom: 0;
}

.navbar-text {
  position: absolute;
}

.nav-text-purple {
  color: $color-primary;
  position: relative;
}

.nav-text-purple:hover {
  opacity: 0.7;
  color: $color-primary;
}

.dropdown-box {
  border-radius: 9px;
  background-color: #fff;
}

.dropdown-row {
  cursor: pointer;
}

.dropdown-row:hover {
  background-color: #f9f9f9;
}

.dropdown-row:hover, .dropdown-row:hover .red {
  color: $iq-red;
}

.dropdown-row:hover, .dropdown-row:hover .normal {
  color: $color-primary;
}

.dropdown-text {
  color: #666;
  cursor: pointer;
  font-size: 16px;
}
