<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">Inquantir</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="!authService.loggedIn()">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn()">
        <a class="nav-link" [routerLink]="['/dashboard']">Home</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown04">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>-->
    </ul>
    <form *ngIf="authService.loggedIn()" #askForm="ngForm" class="form-inline navbar-nav mr-auto" id="search" role="search" (submit)="onAskSubmit(askForm)">
      <div class="form-group">
        <input class="form-control col-sm-8" [(ngModel)]="questionText" name="questionText" type="text" placeholder="Ask a question">
        <button class="btn btn-primary" type="submit">Ask</button>
      </div>
    </form>
    <ul class="navbar-nav my-2 my-sm-0">
      <li *ngIf="!authService.loggedIn()" class="nav-item">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <li *ngIf="!authService.loggedIn()" class="nav-item">
        <a class="nav-link" [routerLink]="['/authenticate']">Login</a>
      </li>
      <li *ngIf="authService.loggedIn()" class="nav-item">
        <a class="nav-link" (click)="onLogoutClick()" href="#">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
