<nav class="navbar navbar-expand-md navbar-light bg-light nav-margins">
  <a class="navbar-brand" [routerLink]="['/']"><b>Inquantir</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbartoggle">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbartoggle">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!authService.loggedIn()">
        <a class="nav-link navbar-text-purple" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item navbar-text-purple" *ngIf="authService.loggedIn()">
        <a class="nav-link" [routerLink]="['/dashboard']">Home</a>
      </li>
    </ul>
    <button class="btn btn-secondary mx-auto font-weight-bold" (click)="onAskSubmit()" type="button" id="center-button">Ask Inquantir</button>
    <ul class="navbar-nav">
      <li *ngIf="!authService.loggedIn()" class="nav-item">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <li *ngIf="!authService.loggedIn()" class="nav-item">
        <a class="nav-link" [routerLink]="['/authenticate']">Login</a>
      </li>
      <li *ngIf="authService.loggedIn()" class="nav-item">
        <a class="nav-link navbar-text-purple" (click)="onProfileClick()" style="cursor: pointer;">Profile</a>
      </li>
      <li *ngIf="authService.loggedIn()" class="nav-item">
        <a class="nav-link" (click)="onLogoutClick()" href="#">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
<div class="line"></div>
