@import '~sass/variables';
@import './resdropdown.scss'; // Responsive Dropdown
@import './mobile.scss';

.typeahead-container {
  border-radius: 9px!important;
}

.nav-margins {
  padding-left: 18%;
  padding-right: 18%;
}

.navbar-custom {
  background-color: #fff!important;
}

.no-mouse-events {
  pointer-events: none!important;
}

.center-button {
  position: absolute;
}

.line {
  border-bottom: 1px solid $navbar-bottom-color;
}

.active-line {
  height: 1px;
  border-bottom: 2px solid $color-primary;
  position: absolute;
  bottom: 0;
}

.navbar-text {
  position: absolute;
}

.nav-text-purple {
  color: $color-primary;
  position: relative;
}

.nav-text-purple:hover {
  opacity: 0.7;
  color: $color-primary;
}
