<ng-template #everythingSearch let-model="item" let-index="index" class="typeahead-container">
  <span class="typeahead-item">{{model.name}}</span>
</ng-template>

<nav class="navbar navbar-large line fixed-top navbar-expand-md navbar-light bg-light nav-margins navbar-custom justify-content-center"
    style="background-color: #fff;" [ngClass]="{'no-mouse-events': dialogOpen}">
  <a class="navbar-brand d-flex w-25 mr-auto" [routerLink]="['/']"><b>Inquantir</b></a>
  <button *ngIf="authService.loggedIn()" class="btn btn-secondary font-weight-bold" (click)="onAskSubmit()" id="center-button">
    Ask Inquantir
  </button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbartoggle">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbartoggle">
    <ul class="navbar-nav ml-auto">

      <input class="form-control navbar-searchbar mr-2" placeholder="Search Inquantir"
        [(ngModel)]="searchText"
        (keyup)="onSearchKeyup()"
        [typeaheadAsync]="true"
        [typeahead]="searchDataSource"
        typeaheadOptionField="name"
        [typeaheadOptionsLimit]="5"
        [typeaheadItemTemplate]="everythingSearch"
        [typeaheadMinLength]="3"
        (typeaheadOnSelect)="searchResultSelected($event)"
        (typeaheadNoResults)="searchNoResults($event)">

      <li class="nav-item" *ngIf="!authService.loggedIn()">
        <a class="nav-link navbar-text-purple" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item navbar-text-purple" *ngIf="authService.loggedIn()">
        <a class="nav-link" [routerLink]="['/dashboard']">Home</a>
      </li>
      <li *ngIf="!authService.loggedIn()" class="nav-item">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <li *ngIf="!authService.loggedIn()" class="nav-item">
        <a class="nav-link" [routerLink]="['/authenticate']">Login</a>
      </li>

      <li class="dropdown nav-item" *ngIf="authService.loggedIn()">
        <div class="dropdown-toggle nav-link navbar-text-purple" data-toggle="dropdown" style="cursor:pointer;">
          Profile <span class="caret"></span>
        </div>
        <ul class="dropdown-menu dropdown-box text-left">
          <li class="dropdown-row" (click)="onProfileClick()"><span class="dropdown-text normal">
            <i class="fas fa-user pl-3 mr-1 my-3"></i> {{ this.userService.getUser().name.split(" ")[0] }}
          </span></li>
          <li class="dropdown-row" [routerLink]="['/library']"><span class="dropdown-text normal">
            <i class="fas fa-book mr-1 pl-3 my-3"></i> My Library
          </span></li>
          <li class="dropdown-row" (click)="onFeedbackSubmit()"><span class="dropdown-text normal">
            <i class="fas fa-comment-dots mr-1 pl-3 my-3"></i> Feedback
          </span></li>
          <li class="dropdown-row" [routerLink]="['/support']"><span class="dropdown-text normal pl-3">Help</span></li>
          <li class="dropdown-row" (click)="onLogoutClick()"><span class="dropdown-text red pl-3">Logout</span></li>
        </ul>
      </li>

    </ul>
  </div>
</nav>

<!-- MOBILE NAVBAR -->
<nav class="navbar navbar-small line fixed-top navbar-expand-md navbar-light bg-light justify-content-center">
  <a class="mobile-nav-icon"><i [routerLink]="['/']" class="fas fa-home fa-2x mr-5"></i></a>

  <a class="mobile-nav-icon" *ngIf="authService.loggedIn()"><i [routerLink]="['/library']" class="fas fa-book fa-2x mr-5"></i></a>
  <a class="mobile-nav-icon" *ngIf="!authService.loggedIn()"><i class="fas fa-book fa-2x mr-5 icon-disabled"></i></a>

  <a class="mobile-nav-icon text-center" *ngIf="authService.loggedIn()"><i (click)="onAskSubmit()" class="fas fa-question fa-2x mr-5"></i></a>
  <a class="mobile-nav-icon" *ngIf="!authService.loggedIn()"><i class="fas fa-question fa-2x mr-5 icon-disabled"></i></a>
  <div class="dropdown">
    <i class="fas fa-user fa-2x mr-5" data-toggle="dropdown" *ngIf="authService.loggedIn()" style="cursor:pointer;"></i>
    <i class="fas fa-user fa-2x mr-5 icon-disabled" *ngIf="!authService.loggedIn()"></i>
    <ul class="dropdown-menu dropdown-box text-left" *ngIf="authService.loggedIn()">
      <li class="dropdown-row" (click)="onProfileClick()"><span class="dropdown-text normal">
        <i class="fas fa-user pl-3 mr-1 mt-3 mb-3"></i> {{ this.userService.getUser().name.split(" ")[0] }}
      </span></li>
      <li class="dropdown-row" (click)="onFeedbackSubmit()"><span class="dropdown-text normal">
        <i class="fas fa-comment-dots mr-1 pl-3 mt-3 mb-3"></i> Feedback
      </span></li>
      <li class="dropdown-row" [routerLink]="['/support']"><span class="dropdown-text normal pl-3">Help</span></li>
      <li class="dropdown-row" (click)="onLogoutClick()"><span class="dropdown-text red pl-3">Logout</span></li>
    </ul>
  </div>
</nav>
