// This is all SCSS for the responsive NavBar and dropdown...

// Typeahead model
::ng-deep .dropdown-menu {
  border-radius: 15px!important;
}

::ng-deep .dropdown-menu:not(.profile) {
  padding-left: 5px;
}

::ng-deep .dropdown-item {
  height: auto;
  word-wrap: break-word;
  white-space: normal;
  padding-left: 5px!important;
  padding-right: 5px!important;
}
::ng-deep .dropdown-item.active {
  background-color: $color-primary!important;
  height: auto;
}

@media (max-width: 768px) {
  ::ng-deep .dropdown-menu {
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 100% !important;
  }
  .navbar-large {
    display: none;
  }
}

@media (min-width: 767px) {
  .navbar-small {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .navbar-searchbar {
    width: 6vw!important;
  }

  .typeahead-item {
    width: 5vw!important;
  }

  ::ng-deep .dropdown-menu { width: 6vw!important; }
  ::ng-deep .dropdown-item { width: 5vw!important; }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar-searchbar {
    width: 9vw!important;
  }

  .typeahead-item {
    width: 8vw!important;
  }

  ::ng-deep .dropdown-menu { width: 9vw!important; }
  ::ng-deep .dropdown-item { width: 8vw!important; }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .navbar-searchbar {
    width: 14vw!important;
  }

  .typeahead-item {
    width: 13vw!important;
  }

  ::ng-deep .dropdown-menu { width: 14vw!important; }
  ::ng-deep .dropdown-item { width: 13vw!important; }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .navbar-searchbar {
    width: 17vw!important;
  }

  .typeahead-item {
    width: 16vw!important;
  }

  ::ng-deep .dropdown-menu { width: 17vw!important; }
  ::ng-deep .dropdown-item { width: 16vw!important; }
}

@media only screen and (max-width: 768px) {
  .nav-margins {
    margin-left: 0px;
    margin-right: 0px;
  }
}
