@import '~sass/variables';

.card {
  border: 1px solid $color-primary;
  border-radius: 15px;
}

.account-button {
  border-radius: 19px;
  color: #FFF;
  background-color: $color-primary;
  transition: all 0.3s;
}

.gradient-bg {
  background: linear-gradient(70deg, rgba(2, 173, 241, 0.8) 0%, rgba(224, 85, 201, 0.8) 51%, rgba(209, 2, 168, 0.8) 100%);
}

.round-row {
  margin-left: 0px !important; 
  width: 100vw;
}

.white-text {
  color: #FFF;
}

.flavor-text-icon {
  color: $color-primary;
}
