@import '~sass/variables';

.card {
  border: 1px solid $color-primary;
  border-radius: 15px;
}

.iq-button {
  border-radius: 19px;
  border: 1px solid $color-primary;
  transition: all 0.3s;
}

.iq-button:hover {
  color: #FFF;
  background-color: $color-primary;
}

.account-button {
  border-radius: 19px;
  color: #FFF;
  background-color: $color-primary;
  transition: all 0.3s;
}

.gradient-bg {
  background: linear-gradient(0deg, rgba(2, 173, 241, 0.3) 0%, rgba(224, 85, 201, 0.3) 51%, rgba(209, 2, 168, 0.3) 100%);
}

.white-text {
  color: #FFF;
}
