<article class='container'>
  <div class="row mt-4 py-2 justify-content-center">

    <div class="col-6">
        <section class="col-sm-12 justify-content-center">
          <section class="card px-4 justify-content-center">

            <div class="row my-3 justify-content-center">
              <div class="col-sm-12 text-center">
                <h2><b>Intelligent learning starts now</b></h2>
              </div>
            </div>

            <div class="row my-1 justify-content-center">
              <div class="col-sm-12 text-center">
                <h6><b>Sign up</b></h6>
              </div>
            </div>

            <div class="row mt-3 justify-content-center">
              <div class="col-sm-12 text-center">
                <input placeholder="Full name" class="form-control iq-form" />
              </div>
            </div>

            <div class="row mt-3 justify-content-center">
              <div class="col-sm-12 text-center">
                <input placeholder="Email address" class="form-control iq-form" />
              </div>
            </div>

            <div class="row mt-3 justify-content-center">
              <div class="col-sm-12 text-center">
                <input placeholder="Create Password" class="form-control iq-form" />
              </div>
            </div>

            <div class="row mt-3 justify-content-center">
              <div class="col-sm-12 text-center">
                <button class="btn account-button">Create your account</button>
              </div>
            </div>

            <div class="row mt-1 justify-content-center">
              <div class="col-sm-12 text-center">
                Or sign up with
              </div>
            </div>

            <div class="row mt-3 justify-content-center mb-3">

              <div class="col-sm-6 text-center">
                <button class="btn iq-btn-1 col-12" (click)="onLoginClicked()">Google</button>
              </div>
            </div>

        </section>
      </section>
      </div>

  </div>

  <div class="row my-3 justify-content-center">
    <h3>About Us</h3>
  </div>

</article>

<div class="row my-3 py-3 justify-content-center gradient-bg round-row">

    <section class="col-sm-4">
      <section class="iq-card px-4 py-2 hvr-icon-forward">

        <h4><i class="fas fa-bullseye flavor-text-icon"></i> Our Goal</h4>
        Inquantir is a question and answer platfrom that aims to create an environment that is designed for the individual student
      </section>
    </section>

    <section class="col-sm-4">
      <section class="iq-card px-4 py-2 hvr-icon-forward">
        <h4><i class="fas fa-map-signs flavor-text-icon"></i> How?</h4>
        Using specific and friendly tools asking questions is easierthan ever. And with Inquantir's staff constantly viewing content we bring you only the best, most helpful answers to your questions.
      </section>
    </section>

    <section class="col-sm-4">
      <section class="iq-card px-4 py-2 hvr-icon-forward">
        <h4><i class="fas fa-user-check flavor-text-icon"></i> User Friendly</h4>
        Inquantir usues many different methods, such as an array of keyboards, to make your account personal and unique to you.
      </section>
    </section>


</div>
