@import '~sass/variables';

.card {
  border: 1px solid $color-primary;
  border-radius: 15px;
}

.iq-button {
  border-radius: 19px;
  border: 1px solid $color-primary;
  transition: all 0.3s;
}

.iq-button:hover {
  color: #FFF;
  background-color: $color-primary;
}

.account-button {
  border-radius: 19px;
  color: #FFF;
  background-color: $color-primary;
  transition: all 0.3s;
}
