<article class="container mt-3">
  <div class="row justify-content-center mt-5">
    <div class="col-md-10 col-sm-12 col-12 text-center">
      <h3><b>404 - Not Found</b></h3>
      <h3>It's okay, we all get lost sometimes. If you click on the beans, we'll bring you right back!</h3>
      <a [routerLink]="['/']">
        <img src="https://i5.walmartimages.com/asr/f91e4115-9cde-45c3-96d1-9ce73c4f08cf_1.c2aada4c15c73dccdfbe113ff2d01bea.jpeg?odnWidth=282&odnHeight=282&odnBg=ffffff"/>
      </a>
    </div>
  </div>
</article>
