@import '~src/sass/variables';

.formatbar-container {
  border: 1px solid $color-primary;
  border-radius: 10px;
}

.letter-button {
  border: 1px solid #ccc;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.letter-button:hover {
  background-color: $color-primary;
  color: white;
  border-color: $color-primary;
}

.letter-button-activated {
  border: 1px solid $color-primary;
  border-radius: 7px;
  background-color: $color-primary;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.keyboard-type-button {
  cursor: pointer;
  border-bottom: solid 3px rgb(0,0,0);
  border-bottom: solid 3px rgba(0,0,0,0);

  transition: all 0.3s;
}

.keyboard-type-button:hover {
  border-bottom: solid 3px rgba(252, 166, 255, 0.7);
}

.selected {
  border-bottom: solid 3px $color-primary!important;
}

.noshow {
  height: 0;
  visibility: hidden;
}
