<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-sm-8 text-center">
      <h2>Getting Started</h2>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-6 text-center">
      <font size="4">Getting started with Inquantir is easy!</font>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-sm-8">
      <p class="text-left"><font size="4">After you've created a profile, just click on the "Ask Inquantir" button in your navbar:</font></p>

      <p class="text-center">
        <button class="btn btn-secondary font-weight-bold center-button mt-2 mb-2">
        Ask Inquantir
        </button>
      </p>

      <p class="text-left"><font size="4">When asking a question, you'll be prompted to add a subject and a source. The source is where the
        question came from, whether that's your textbook, or your homework software. Sometimes, the source might
        not have been added to Inquantir yet. In this case, you can add it yourself, but make sure to include edition
        numbers in the textbook title.</font></p>

      <p><font size="4">
        After you've added a subject and source to your question, you now just have to wait for it to be answered!
      </font></p>
    </div>
  </div>
</div>
