<div class="jumbotron text-center">
  <h1>Inquantir</h1>
  <p class="lead">Welcome to Inquantir!</p>
  <img src="https://drive.google.com/uc?id=1swZwRLlZowYU3QzhmSaMQAE8TsAYt0sX" alt="Inquantir Logo" height="128" width="128">
  <br><br>
  <p class="bs-component" *ngIf="!authService.loggedIn()">
    <button type="button" class="btn btn-secondary" [routerLink]="['/register']">Register</button>
    <button type="button" class="btn btn-primary" [routerLink]="['/authenticate']">Login</button>
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Verified Solutions</h3>
    <p>Answers on Inquantir can be verified by professors and their teaching assistants,
      ensuring quality answers that give understanding as opposed to simply giving the answer.</p>
  </div>
  <div class="col-md-4">
    <h3>Indexable</h3>
    <p>All questions and answers are indexable and can be found with any search engine, making help more accessible than ever.</p>
  </div>
  <div class="col-md-4">
    <h3>Simple</h3>
    <p>Inquantir is designed to take a massive workload off of students and professors, opening up the academic environment.</p>
  </div>
</div>
