.line {
  border-bottom: 1px solid rgba(181, 0, 189,.3);
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
    vertical-align: top;
}
