<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="row justify-content-center">
        <div id="g-container">
          <div id="g-logo">
            <div class="g-line"></div>
            <span class="red"></span>
            <span class="yellow"></span>
            <span class="green"></span>
            <span class="blue"></span>
          </div>
          <div class="text-center google-text">Google</div>
        </div>
      </div>
    </div>
  </div>
</div>
