@import '~sass/variables';

.underline {
  border-bottom: solid 1px #ddd;
}

/* Source Plus */
.source-plus {
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: -webkit-transform .2s ease-in-out;
          transition:         transform .2s ease-in-out;
}

.color-primary {
  color: $color-primary;
}

.red {
  color: $iq-red;
}

.delete-text {
  cursor: pointer;
  color: $iq-red;
  border-bottom: solid 3px rgba(0,0,0,0);
}

.delete-text:hover {
  border-bottom: solid 2px $iq-red;
}

.subnav-item {
  display: inline;
  font-size: 18px;
}

.source-text {
  cursor: pointer;
  transition: all 0.3s;
}

.source-text:hover {
  border-bottom: solid 3px $color-primary;
}

.tag-text {
  cursor: pointer;
  transition: all 0.3s;
}

.tag-text:hover {
  border-bottom: solid 2px $color-primary;
}

.blank-underline {
  border-bottom: solid 3px rgba(0,0,0,0);
}

.purple-underline {
  border-bottom: solid 3px $color-primary;
}

.blank-underline-1 {
  border-bottom: solid 2px rgba(0,0,0,0);
}

.purple-underline-1 {
  border-bottom: solid 2px $color-primary;
}

.ask-button {
  border-color: $color-primary;
  border-radius: 19px;
  color: #525559;
  background-color: #fff;
}

.ask-button:disabled {
  border-color: #ccc;
}

.ask-button:hover {
  background-color: #fcfcfc;
}
