@import '~sass/variables';

.underline {
  border-bottom: solid 1px #ddd;
}

/* Source Plus */
.source-plus {
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: -webkit-transform .2s ease-in-out;
          transition:         transform .2s ease-in-out;
}

.color-primary {
  color: $color-primary;
}

.red {
  color: $iq-red;
}

.delete-text {
  cursor: pointer;
  color: $iq-red;
  border-bottom: solid 3px rgba(0,0,0,0);
}

.delete-text:hover {
  border-bottom: solid 2px $iq-red;
}

.subnav-item {
  display: inline;
  font-size: 18px;
}

.source-text {
  cursor: pointer;
  transition: all 0.3s;
}

.source-text:hover {
  border-bottom: solid 3px $color-primary;
}

.tag-text {
  cursor: pointer;
  transition: all 0.3s;
}

.tag-text:hover {
  border-bottom: solid 2px $color-primary;
}

.blank-underline {
  border-bottom: solid 3px rgba(0,0,0,0);
}

.purple-underline {
  border-bottom: solid 3px $color-primary;
}

.blank-underline-1 {
  border-bottom: solid 2px rgba(0,0,0,0);
}

.purple-underline-1 {
  border-bottom: solid 2px $color-primary;
}

.ask-button {
  border-color: $color-primary;
  border-radius: 19px;
  color: #525559;
  background-color: #fff;
}

.ask-button:disabled {
  border-color: #ccc;
}

.ask-button:hover {
  background-color: #fcfcfc;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #fefefe;
  color: #666;
  transition: all 0.3s;
  border-right: solid 1px $navbar-bottom-color;
}

.sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

.sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

.sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

.sidebar.active ul ul a {
    padding: 10px !important;
}

.sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.sidebar .sidebar-header {
    padding: 20px;
    background: #fefefe;
}

.sidebar ul.components {
    padding: 20px 0;
}

.sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

.sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #666;
    background: #fefefe;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
