.no-pad-mar {
  margin: 0;
  padding: 0;
  left: 0px;
}

.hide-element{
  display:none;
}

.flash {
  position: fixed;
  left: 0;
  width: 100vw;
  z-index:99;
}

.container-fluid {
  padding: 0 !important;
}
