@import '~sass/variables';

.no-pad-mar {
  left: 0;
  margin: 0;
  padding: 0;
}

.hide-element{
  display:none;
}

.flash {
  left: 0;
  position: fixed;
  width: 100vw;
  z-index:99;
}

.container-fluid {
  padding: 0 !important;
}

.apply-bg {
  background-color: $main-bg-color;
}
