@import '~sass/variables';

.iq-answerbox {
  border: solid 1px $font-main;
  border-radius: 8px;
}

.poster-img {
  border-radius: 50%;
  border: solid 2px rgba(255, 255, 255, 0);
  transition: all $time-slow;
  cursor: pointer;
}

.poster-img:hover {
  border-color: $color-primary-very-light;
}

.poster-link {
  font-size: 1.1em;
  cursor: pointer;
  color: $font-main;
  border-bottom: solid 2px rgba(255, 255, 255, 0);
  transition: all $time-fast;
}

.poster-link:hover {
  border-color: $color-primary;
  text-decoration: none;
}

.answer-text {
  font-size: 16px;
}

.right-icon {
  cursor: pointer;
  transition: all $time-fast;
  font-size: 15px;
}

.right-icon:hover {
  color: $color-primary;
}

.vote-button {
  cursor: pointer;
}

.vote-button:disabled {
  pointer-events: none;
}

.vote-button:hover:not(.highlighted) {
  color: $color-primary-light;
}

.highlighted {
  color: $color-primary;
}
