@import '~sass/variables';

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.poster-text {
  font-size: 105%;
  font-weight: 500;
}

.poster-img {
  border-radius: 50%;
  border: solid 2px rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: all $time-fast;
}

.poster-img:hover {
  border-color: $color-primary-very-light;
}

.poster-img-inactive {
  border-radius: 50%;
}

.placeholder-img {
  font-size: 22px;
}

.answernum-text {
  color: $font-light;
}

.question-box {
  border: 1px solid $color-primary;
  border-radius: 10px;
  margin-bottom: 1em;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
}

.question-url {
  font-weight: 700;
  font-size: 140%;
}

.preview-text::before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.preview-text {
  font-size: 1.1em;
  line-height: 1.2em;
  position: relative;
  max-height: 3.6em;
  text-align: justify;
  padding-right: 1em!important;
  margin-right: -1em!important;
  overflow: hidden;
}

.preview-text::after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.options-bar-icon {
  font-size: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.options-bar-icon:hover {
  color: $color-primary;
}
