@import '~sass/variables';

.close-button {
  cursor: pointer;
  transition: all 0.3s;
  color: $color-primary;
}

.close-button:hover {
  color: $iq-red;
}

.error-text {
  color: $iq-red;
}

textarea {
  resize: vertical;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 80px;
  max-height: 320px;
}
