@import '~sass/variables';

.close-button {
  cursor: pointer;
  transition: all 0.3s;
  color: $color-primary;
}

.close-button:hover {
  color: $iq-red;
}

.error-text {
  color: $iq-red;
}

textarea {
  resize: vertical;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 80px;
  max-height: 320px;
}

.mode-selector {
  transition: all 0.3s;
  font-family: sans-serif;
  font-size: 20px;
  cursor: pointer;

  border-bottom: solid 3px rgb(0,0,0);
  border-bottom: solid 3px rgba(0,0,0,0);
}

.mode-selector:hover {
  border-bottom: solid 3px rgba(252, 166, 255, 0.7);
}

.mode-selector.selected:hover {
  border-bottom: solid 3px $color-primary;
}

.selected {
  border-bottom: solid 3px $color-primary;
}
