<div class="text-center">
  <div *ngIf="question">
    <h2 class="page-header">{{ question.questionText }}</h2>
    <p style="{text-align:center;}">Asked by <span class="profileURL">
      <a (click)="toProfileWithHandle(question.askerHandle)" style="cursor: pointer;">{{question.asker}}</a></span>
    </p>
    <div *ngIf="answerMode">
      <div *ngIf="answers">
        <form *ngIf="authService.loggedIn()" #answerForm="ngForm" id="answer" role="answer" (submit)="sendAnswer(answerForm)">
          <div class="form-group">
            <input class="form-control" [(ngModel)]="answerText" name="answerText" type="text" placeholder="Share some knowledge!">
            <button class="btn btn-primary" type="submit">Send Answer to the Gods</button>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="!answerMode && !userHasAnswered">
      <button class="btn btn-primary" type="button" (click)="answerMode=true" >Answer</button>
    </div>
  </div>

  <div *ngIf="answers">
    <h4>Answers ({{ answers.length }})</h4>

    <div *ngFor="let answer of answers">
      <div class="answerBox">
        <span class="profileCircle"></span><span class="posterName profileURL"><b>
          <a (click)="toProfileWithHandle(answer.posterHandle)" style="cursor: pointer;">{{answer.poster}}</a></b>
        </span>
        <p>{{answer.answerText}}</p>
      </div>
      <br>
    </div>
  </div>
</div>
