.profileCircle {
  height: 30px;
  width: 30px;
  background-color: #73a2ef;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
}

.posterName {
  padding-left: 5px;
}

.answerBox {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgrey;
  padding: 2px;
  border-radius: 20px;
  width: 40%;
}

.profileURL {

}

.profileURL:hover{
  text-decoration: underline;
}
