@import '~sass/variables';

textarea {
  resize: none;
  caret-color: $color-primary;
}

// This is because MathJax doesn't render display: none (you have to make a render call)
.fake-hide {
  height: 0px!important;
  visibility: hidden;
}

.greekchar-button {
  border: 1px solid $color-primary;
  border-radius: 9px;
}

.icon-activated {
  color: $color-primary;
}

.icon {
  cursor: pointer;
  transition: all 0.3s;
}

.icon:hover {
  color: $color-primary;
}

.profile-circle {
  height: 30px;
  width: 30px;
  background-color: #73a2ef;
  border-radius: 50%;
  display: inline-block;
  vertical-align:baseline;
}

.poster-name {
  padding-left: 5px;
  font-size: 15px;
}

.answer-box {
  border: 1px solid lightgrey;
  border-radius: 9px;
}

.answer-toolbox {
  border: 1px solid lightgrey;
  border-top-left-radius: 9px!important;
  border-top-right-radius: 9px!important;
  border-bottom-left-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

.answer-text {
  font-size: 15px;
}

.answer-textarea {
  transition: all 0.3s;
  margin-bottom: 1em;
  height: 120px;
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
  border-bottom-left-radius: 9px!important;
  border-bottom-right-radius: 9px!important;
  overflow-y: auto;
}

.answer-textarea-row {
  margin-top: 0!important;
}

.vote-button {
  cursor: pointer;
  margin-right: 0.3em;
  margin-left: 0.3em;
}

.vote-button.inactive {
  cursor: default;
  color: #ccc
}

.highlighted {
  color: $color-primary;
}

.view-text {
  color: #b4b4b4;
}

.profile-url {
  cursor: pointer;
}

.profile-url:hover {
  text-decoration: underline;
}

// Answer preview stuff
.hidden-box {
  height: 0px;
  visibility: hidden;
}

.preview {
  display: inline-block;
  word-wrap: break-word;
  transition: all 0.3s;
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
  border-bottom-left-radius: 9px!important;
  border-bottom-right-radius: 9px!important;
}

.preview-box {
  border: solid 1px $color-primary;
}

.send-button {
  border-radius: 19px;
  border-color: $color-primary;
  transition: all 0.3s;
}

.send-button:hover {
  background-color: #fff;
  color: $color-primary;
}
