@import '~src/sass/variables';

textarea {
  resize: none;
}

.icon {
  cursor: pointer;
  transition: all 0.3s;
}

.icon:hover {
  color: $color-primary;
}

.profile-circle {
  height: 30px;
  width: 30px;
  background-color: #73a2ef;
  border-radius: 50%;
  display: inline-block;
  vertical-align:baseline;
}

.poster-name {
  padding-left: 5px;
  font-size: 15px;
}

.answer-box {
  border: 1px solid lightgrey;
  border-radius: 9px;
}

.answer-toolbox {
  border: 1px solid lightgrey;
  border-top-left-radius: 9px!important;
  border-top-right-radius: 9px!important;
  border-bottom-left-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

.answer-text {
  font-size: 15px;
}

.answer-textarea {
  margin-bottom: 1em;
  height: 120px;
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
  border-bottom-left-radius: 9px!important;
  border-bottom-right-radius: 9px!important;
}

.answer-textarea-row {
  margin-top: 0!important;
}

.vote-button {
  cursor: pointer;
  margin-right: 0.3em;
  margin-left: 0.3em;
}

.vote-button.inactive {
  cursor: default;
  color: #ccc
}

.highlighted {
  color: $color-primary;
}

.view-text {
  color: #b4b4b4;
}

.profile-url {
  cursor: pointer;
}

.profile-url:hover {
  text-decoration: underline;
}
