<div class="text-center question-container container">
  <div *ngIf="question">
    <div class="row justify-content-center">
      <h2 class="page-header">{{ question.questionText }}</h2>
    </div>
    <div class="row justify-content-center">
      <p style="{text-align:center;}">Asked by <span class="profileURL">
        <a (click)="toProfileWithHandle(question.askerHandle)" style="cursor: pointer;">{{question.asker}}</a></span>
      </p>
    </div>
    <div *ngIf="answerMode && answers && authService.loggedIn()">
      <div class="row justify-content-center">
        <textarea class="answer-textarea col-sm-4 form-control" [(ngModel)]="answerText" name="answerText" type="password" placeholder="Share some knowledge!"></textarea>
      </div>
      <div class="row justify-content-center">
        <button class="btn btn-primary" id="answer-button" (click)="sendAnswer()">Send Answer to the Gods</button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div *ngIf="!answerMode && !userHasAnswered && authService.loggedIn()">
        <button class="btn btn-primary" type="button" (click)="answerMode=true" >Answer</button>
      </div>
    </div>
  </div>

  <div *ngIf="answers" id="answer-container">
    <h4 *ngIf="answers.length">Answers ({{ answers.length }})</h4>
    <div *ngIf="!answers.length">
      <h4>No answers have been posted yet. You could be the first!</h4>
    </div>

    <div *ngFor="let answer of answers">
      <div class="answerBox">
        <span class="profileCircle"></span><span class="posterName profileURL"><b>
          <a (click)="toProfileWithHandle(answer.posterHandle)" style="cursor: pointer;">{{answer.poster}}</a></b>
        </span>
        <p class="answer-text">{{answer.answerText}}</p><div class="spacer"></div>
        <span class="action-bar" *ngIf="authService.loggedIn()">
          <i class="fas fa-chevron-circle-up fa-lg vote-button noselect" [ngClass]="{'highlighted': getVote(answer) === 1}" (click)="voteClicked(answer, 1)"></i>
          <b>{{ answer.votes }}</b>
          <i class="fas fa-chevron-circle-down fa-lg vote-button noselect" [ngClass]="{'highlighted': getVote(answer) === -1}" (click)="voteClicked(answer, -1)"></i>
          <span class="view-text noselect">{{ answer.views }} views </span>
        </span>
        <span class="action-bar" *ngIf="!authService.loggedIn()">
          <i class="fas fa-chevron-circle-up fa-lg vote-button inactive noselect"></i>
          <b>{{ answer.votes }}</b>
          <i class="fas fa-chevron-circle-down fa-lg vote-button inactive noselect"></i>
          <span class="view-text noselect">{{ answer.views }} views </span>
        </span>
      </div>
      <br>
    </div>
  </div>
</div>
