textarea {
  resize: none;
}

.profileCircle {
  height: 30px;
  width: 30px;
  background-color: #73a2ef;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
}

.posterName {
  padding-left: 5px;
  font-size: 15px;
}

.answerBox {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgrey;
  padding: 2px;
  border-radius: 20px;
  width: 40%;
}

.answer-text{
  font-size: 15px;
}

.answer-textarea{
  margin-bottom: 1em;
}

.spacer{
  height: 1.4em;
  background: transparent;
}

.vote-button{
  cursor: pointer;
  margin-right: 0.3em;
  margin-left: 0.3em;
}

.vote-button.inactive{
  cursor: default;
  color: #ccc
}

.highlighted{
  color: #af00b5;
}

.view-text{
  color: #b4b4b4;
}

.action-bar{
  text-align: left;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.7em;
}

.profileURL {

}

.profileURL:hover{
  text-decoration: underline;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.question-container{
  margin-top: 1em;
}

#answer-container{
  margin-top: 0.7em;
}
