<article class="container mt-4">
  <section *ngIf="question">
    <div class="row justify-content-center">
      <h2>{{ question.questionText }}</h2>
    </div>
    <div class="row justify-content-center">
      <p class="text-center">Asked by <span class="profile-url">
        <a (click)="toProfileWithHandle(question.askerHandle)">{{question.asker}}</a></span>
      </p>
    </div>

    <!-- Answer Box -->
    <div *ngIf="answerMode && answers && authService.loggedIn()">
      <div class="row justify-content-center">
        <div class="col-md-7 col-sm-10 col-11 pt-2 pb-2 answer-toolbox">
          <i class="fas fa-square-root-alt fa-lg icon"></i>
        </div>
      </div>
      <div class="row justify-content-center">
        <textarea
          class="answer-textarea col-md-7 col-sm-10 col-11 form-control"
          [(ngModel)]="answerText"
          name="answerText"
          placeholder="Share some knowledge!">
        </textarea>
      </div>
      <div class="row justify-content-center mb-2">
        <button class="btn btn-primary" (click)="sendAnswer()">Send Answer to the Gods</button>
      </div>
    </div>

    <div class="row justify-content-center">
      <div *ngIf="!answerMode && !userHasAnswered && authService.loggedIn()">
        <button class="btn btn-primary" (click)="answerMode=true">Answer</button>
      </div>
    </div>
  </section>

  <section *ngIf="answers">
    <div class="row justify-content-center" *ngIf="answers.length">
      <h4>Answers ({{ answers.length }})</h4>
    </div>
    <div class="row justify-content-center" *ngIf="!answers.length">
      <h4>No answers have been posted yet. You could be the first!</h4>
    </div>

    <div *ngFor="let answer of answers" class="row justify-content-center">
      <div class="answer-box pl-3 pr-3 pt-2 col-sm-5 mb-2">
        <div class="row mb-2">
          <span class="profile-circle ml-3"></span>
          <span class="poster-name profile-url"><b>
            <a (click)="toProfileWithHandle(answer.posterHandle)">{{answer.poster}}</a></b>
          </span>
        </div>
        <div class="row">
          <p class="answer-text text-left mb-2 ml-3 mr-3">{{answer.answerText}}</p>
        </div>
        <div class="row mb-2 mt-2" *ngIf="authService.loggedIn()">
          <i class="fas fa-chevron-circle-up fa-lg vote-button noselect ml-3" [ngClass]="{'highlighted': getVote(answer) === 1}" (click)="voteClicked(answer, 1)"></i>
          <b>{{ answer.votes }}</b>
          <i class="fas fa-chevron-circle-down fa-lg vote-button noselect" [ngClass]="{'highlighted': getVote(answer) === -1}" (click)="voteClicked(answer, -1)"></i>
          <span class="view-text noselect">{{ answer.views }} views </span>
          <i class="fas fa-ellipsis-h fa-lg icon ml-auto mr-2" data-toggle="dropdown"
            *ngIf="answer.posterID === userService.userMongoID()"></i>
          <ul class="dropdown-menu dropdown-box text-left">
            <li class="dropdown-row">
              <span class="dropdown-text normal" (click)="deleteAnswer('' + answer._id)">
                <li class="dropdown-row">
                  <span class="dropdown-text red pl-3">Delete</span>
                </li>
            </span></li>
          </ul>
        </div>
        <div class="row mb-2 mt-2" *ngIf="!authService.loggedIn()">
          <i class="fas fa-chevron-circle-up fa-lg vote-button inactive noselect ml-3"></i>
          <b>{{ answer.votes }}</b>
          <i class="fas fa-chevron-circle-down fa-lg vote-button inactive noselect"></i>
          <span class="view-text noselect">{{ answer.views }} views </span>
        </div>
      </div>
    </div>
  </section>
</article>
