<article class="container mt-4" *ngIf="questionSuccess && questionResponse">
  <section *ngIf="question">
    <div class="row justify-content-center">
      <div class="col-md-8 col-12 text-center">
        <h2>{{ question.questionText }}</h2>
      </div>
    </div>
    <!--
    <div class="row justify-content-center">
      <p class="text-center">Asked by <span class="profile-url">
        <a (click)="toProfileWithHandle(question.askerHandle)">{{ question.asker }}</a></span>
      </p>
    </div>
    -->

    <!-- Answer Box -->
    <div *ngIf="answerMode && answers && authService.loggedIn()">
      <section class="row justify-content-center">
        <div class="col-md-5 col-sm-10 col-11 pt-2 pb-1 answer-toolbox">
          <div class="row justify-content-center">
            <!--<i class="fas fa-bold fa-lg icon mr-2"></i>
            <i class="fas fa-italic fa-lg icon mr-2"></i>-->
            <i class="fas fa-square-root-alt fa-lg icon mr-2 mt-1"
              (click)="toggleMathMode()"
              [ngClass]="{'icon-activated': mathMode}"
              (mousedown)="preventFocusLoss($event)"
              tooltip="Toggle symbol keyboards"
              delay="700"></i>

            <i class="far fa-eye fa-lg icon mr-2 mt-1"
              (click)="toggleAnswerPreview()"
              [ngClass]="{'icon-activated': answerPreview}"
              tooltip="Toggle answer preview"
              delay="700"></i>
          </div>
        </div>
      </section>
      <div class="row justify-content-center">
        <!-- Answer Box -->
        <textarea cdkTextareaAutosize
          *ngIf="!answerPreview"
          class="answer-textarea col-md-5 col-sm-10 col-11 form-control iq-form"
          [(ngModel)]="answerText"
          name="answerText"
          placeholder="Share some knowledge!">
        </textarea>
        <div class="preview-box answer-textarea" *ngIf="answerPreview"
          [ngClass]="{'hidden-box': !answerPreview, 'col-md-5': answerPreview}">
          <div class="">
            {{ answerText }}
          </div>
        </div>
      </div>

      <app-formatbar *ngIf="mathMode" (letterClicked)="formatbarAddToText($event)" (backspaceClicked)="formatbarBackspace()">
      </app-formatbar>
      <div class="row justify-content-center mb-2" *ngIf="answerMode && !editMode">
        <button class="btn iq-btn-1" (click)="sendAnswer()"
          [disabled]="answerText.length < 3">Send Answer to the Gods</button>
      </div>
      <div class="row justify-content-center mb-2" *ngIf="answerMode && editMode">
        <button class="btn iq-btn-1" (click)="sendEditedAnswer()">Send Edited Answer</button>
      </div>
      <div class="row justify-content-center mb-2" *ngIf="answerMode || editMode">
        <button class="btn cancel-button" (click)="cancelWriting()"><b>Cancel</b></button>
      </div>
    </div>

    <div class="row justify-content-center">
      <div *ngIf="!answerMode && !userHasAnswered && authService.loggedIn()">
        <button class="btn btn-primary" (click)="answerMode=true">Answer</button>
      </div>
    </div>
  </section>

  <section *ngIf="answers">
    <div class="row justify-content-center" *ngIf="answers.length">
      <h4>Answers ({{ answers.length }})</h4>
    </div>
    <div class="row justify-content-center" *ngIf="!answers.length && !answerMode">
      <h4>No answers have been posted yet. You could be the first!</h4>
    </div>

    <div *ngFor="let answer of answers" class="row justify-content-center">
      <div class="col-sm-6">
        <app-answerbox [answer]="answer" [userVote]="getVoteForAnswer(answer._id)"
          (sendVote)="voteFromAnswer($event)" (sendEditAnswer)="editAnswer($event)"
          (sendDeleteAnswer)="openConfirmDelete($event)">
        </app-answerbox>
      </div>

    </div>
  </section>
</article>

<article class="container mt-5" *ngIf="!questionSuccess && questionResponse">
  <div class="row justify-content-center mt-5">
    <div class="col-md-10 col-sm-12 col-12 text-center">
      <h3><b>404 Error</b></h3>
      <h3>The knowledge you seek does not exist</h3>
    </div>
  </div>
</article>
