@import '../variables';
@import './cardmodule';

// IQthyosaur is going to be a lightweight framework that sits on top
// of Bootstrap. The main goal is a framework that does two things:
// 1. Moves IQ away from Bootstrap's default look
// 2. Makes adding IQ components even easier for 'new hires'
// I'd also like to pull away from Bootstrap as much as possible, eventually using it only
// for spacing (rows, columns, responsiveness, and such).

@mixin iq-button($brdr-rad, $border-color, $txt-color) {
  border: 1px solid $border-color;
  border-radius: $brdr-rad;
  color: $txt-color;
}

// IQ Button
.btn {
  box-shadow: none!important;
}

.iq-btn-1 {
  @include iq-button($button-radius, $color-primary, $font-main);
  box-shadow: none!important;
  transition: all $time-fast;
}

.iq-btn-1:hover {
  color: $white;
  background-color: $color-primary;
}

.iq-btn-1:disabled {
  cursor: default;
  pointer-events: none;
  color: $font-disabled;
}

.iq-btn-cancel {
  @include iq-button($button-radius, $iq-red, $font-main);
  box-shadow: none!important;
  transition: all $time-fast;
}

.iq-btn-cancel:hover {
  color: $white;
  background-color: $iq-red;
}

.iq-btn-cancel:disabled {
  cursor: default;
  pointer-events: none;
  color: $font-disabled;
}

// For compatibility
.iq-button {
  @include iq-button($button-radius, $color-primary, $font-main);
  transition: all $time-slow;
}

.iq-button:hover {
  color: #FFF;
  background-color: $color-primary;
}


// IQ Form - This applies to textfields and inputs
.iq-form {
  transition: all $time-fast;
  border: 1px solid $iq-form-default-grey;
  caret-color: $color-primary;
  border-radius: 11px!important;
}

.iq-form:hover {
  border-color: $iq-form-hover-grey;
}

.iq-form:focus {
  border-color: $color-primary !important;
  box-shadow: none !important;
}

// IQ Prepends
.iq-append {
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
  border-top-right-radius: 11px!important;
  border-bottom-right-radius: 11px!important;
  border-left-color: $color-primary;
  transition: all 0.3s;
  outline: none;
}

.iq-prepend {
  transition: all 0.4s;
  border-top-left-radius: 11px!important;
  border-bottom-left-radius: 11px!important;
  border-color: $color-primary;
  outline: none;
  border-width: 1px;
  background-color: $white;
  color: $color-primary;
}

.iq-prepend:hover {
  background-color: $color-primary;
  color: #fff;
}

.iq-prepend:disabled {
  color: #ccc;
  pointer-events: none;
}

// Tooltip
.tooltip-inner {
  border-radius: 10px;
  color: #FFF!important;
  background: $color-primary!important;
  opacity: 0.9;
}

.tooltip-arrow {
  display: none;
}

.tooltip-arrow.arrow {
  display: none;
}

// Text Select
@mixin iq-anchor($border-width, $anim-time) {
  border-bottom: solid rgb(255, 255, 255) $border-width;
  border-bottom: solid rgba(255, 255, 255, 0) $border-width;
  cursor: pointer;
  transition: all $anim-time;
  text-decoration: none;
  color: $font-main;
}

.iq-text-select {
  @include iq-anchor(3px, $time-fast);
}

.iq-text-select:not(.selected):hover {
  border-color: $color-primary-very-light;
  color: $font-main;
}

.iq-text-select.selected {
  border-color: $color-primary;
}

// IQ Links
.iq-anchor {
  @include iq-anchor(2px, $time-fast);
}

.iq-anchor:hover {
  border-color: $color-primary;
  color: $font-main;
}

.iq-text-anchor {
  @include iq-anchor(1px, $time-fast);
  color: $font-main;
}

.iq-text-anchor:hover {
  border-color: $font-main;
  color: $font-main;
}
