<div class="container mt-3">
  <section class="row justify-content-center mb-3" *ngIf="currentUser">
    <div class="col-sm-12 text-center">
      <div class="profile-circle">
        <i class="fas fa-user profile-icon"></i>
      </div>
    </div>

    <div class="col-sm-12 text-center">
      <h2>{{ this.currentUser.name }}</h2>
    </div>

    <div class="col-sm-8 text-center bio" *ngIf="currentUser.bio && !bioMode">
      <h6>{{ this.currentUser.bio }}
        <i *ngIf="user && user._id == currentUser._id" class="fas fa-pencil-alt bio-icon" (click)="editBio()"></i></h6>
    </div>
    <div class="col-sm-8 text-center bio" *ngIf="!currentUser.bio && user && user._id == currentUser._id && !bioMode">
      <h6>You don't currently have a bio
        <i class="fas fa-pencil-alt bio-icon" (click)="editBio()"></i></h6>
    </div>
    <div class="col-sm-4 justify-content-center text-center" *ngIf="bioMode">
      <textarea class=" form-control"
      [(ngModel)]="bioText"
      name="bioText"
      placeholder="Who are you?">
      </textarea>
      <font size="4" class="col-sm-6 bio-edit-button cancel" (click)="bioMode=false">Cancel</font>
      <font size="4" class="col-sm-6 bio-edit-button confirm" (click)="sendBio()">Confirm</font>
    </div>
  </section>

  <section class="row justify-content-center mb-3">
    <div class="col-md-2 col-sm-3 col-7 text-center qa-selectors"
      (click)="onQuestionsClick()" [ngClass]="{'selected': view === contentView.questions}">
      Questions
    </div>
    <div class="col-md-2 col-sm-3 col-7 text-center qa-selectors"
      (click)="onAnswersClick()" [ngClass]="{'selected': view === contentView.answers}">
      Answers
    </div>
    <div class="col-md-2 col-sm-3 col-7 text-center qa-selectors"
      (click)="onKnowledgeClick()" [ngClass]="{'selected': view === contentView.knowledge}">
      Knowledge
    </div>
  </section>

  <section *ngIf="userQuestions && view === contentView.questions">
    <div *ngFor="let question of userQuestions" class="row justify-content-center">
      <div class="col-md-6 col-sm-10 col-11 text-center question-box mb-2">
        <div (click)="onQuestionClicked(question.questionText)"><a [routerLink]="" class="box-link-text">{{question.questionText}}</a></div>
      </div>
    </div>
  </section>

  <section *ngIf="userAnswers && view === contentView.answers">
    <div *ngFor="let answer of userAnswers" class="row justify-content-center">
      <div class="col-md-6 col-sm-10 col-11 text-center answer-box mb-2" (click)="onQuestionClicked(answer.questionText)">
        <h4><a [routerLink]="" class="box-link-text">{{ answer.questionText }}</a></h4>
        <div>{{answer.answerText}}</div>
      </div>
    </div>
  </section>

  <section *ngIf="view === contentView.knowledge && this.currentUser">
    <div class="mb-3" *ngFor="let knowledge of knowledgeArray">
      <div class="row justify-content-center">
        <div class="offset-sm-5 col-sm-7 text-left">
          <font size="5"><b class="mr-2">{{ knowledge.index }}</b></font>
          <span class="knowledge-subject pt-2 pr-2 pb-1 pl-2">
            <font size="5" class="mr-2">{{ knowledge.subject }}</font>
            <i class="fas fa-grip-lines fa-lg knowledge-grip"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="row justify-content-center" *ngIf="!addKnowledgeEnabled">
      <input [(ngModel)]="knowledgeText"
        class="form-control input-form col-md-6 col-sm-8 col-10"
        placeholder="Find a subject you know about!"
        (keyup)="subjectKeyup()"
        [typeahead]="subjectSearchResults"
        typeaheadOptionField="name"
        [typeaheadOptionsLimit]="5"
        [typeaheadMinLength]="3"
        (typeaheadOnSelect)="subjectSelected($event)">
    </div>

    <div class="row justify-content-center" *ngIf="addKnowledgeEnabled">
      <div class="col-sm-6 text-center">
        <font size="5" class="ml-2"><b>{{ selectedSubjectName }}</b></font>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-6 text-center">
        <button class="btn btn-secondary add-subject-button"
                (click)="addKnowledge()"
                [disabled]="!addKnowledgeEnabled"
                [ngClass]="{'enabled': addKnowledgeEnabled}">
          I Know This!
        </button>
      </div>
    </div>

    <div class="row justify-content-center" *ngIf="addKnowledgeEnabled">
      <div class="col-sm-6 text-center">
        <button class="btn btn-secondary add-subject-button enabled" (click)="disableKnowledge()">
          Clear
        </button>
      </div>
    </div>
  </section>
</div>
