@import '~sass/variables';

.profile-circle {
  height: 70px;
  width: 70px;
  background-color: #9fc3fc;
  border-radius: 50%;
  display: inline-block;
}

.profile-icon {
  font-size: 50px;
  margin-top: 5px;
  color: #78a2e3;
}

.qa-selectors {
  transition: all 0.3s;
  font-family: sans-serif;
  font-size: 30px;
  padding-right: 2px;
  padding-left: 2px;

  margin-left: 0.5em;
  margin-right: 0.5em;

  cursor: pointer;

  border-bottom: solid 3px rgb(0,0,0);
  border-bottom: solid 3px rgba(0,0,0,0);
}

.qa-selectors:hover {
  border-bottom: solid 3px rgba(252, 166, 255, 0.7);
}

.qa-selectors.selected:hover {
  border-bottom: solid 3px $color-primary;
}

.bio-icon {
  transition: all 0.16s;
  color: #fff;
}

.bio:hover .bio-icon {
  color: #aaa;
  cursor: pointer;
}

.selected {
  border-bottom: solid 3px $color-primary;
}

/* Should probably call this a container, not a box...oh well.*/
.box-link-text {
  color: #333;
}

.question-box {
  cursor: pointer;
  transition: 0.15s;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgrey;
  padding: 2px;
  border-radius: 9px;
  width: 40%;
}

.question-box:hover{
  border: 1px solid $color-primary;
}

/* This is the same for now, it'll be different one day*/
.answer-box {
  cursor: pointer;
  transition: 0.15s;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgrey;
  padding: 2px;
  border-radius: 9px;
  width: 40%;
}

.answer-box:hover {
  border: 1px solid $color-primary;
}

.close-button {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: $color-primary;
  transition: 0.5s;
}

.close-button:hover {
  width: 25px;
  height: 25px;
  background-color: rgba(175, 0, 181, 0.2);
}

.bio-edit-button {
  cursor: pointer;
  transition: all 0.3s;
}

.bio-edit-button.confirm:hover {
  color: $color-primary;
}

.bio-edit-button.cancel:hover {
  color: #ee6666;
}

.knowledge-subject {
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #fff;
}

.knowledge-subject:hover {
  border-color: $color-primary;
}

.knowledge-subject:hover > .knowledge-grip {
  color: #555;
}

.knowledge-grip {
  transition: all 0.4s;
  color: #fff;
}

.knowledge-grip:hover {
  color: $color-primary!important;
}
