<br>
<div class="text-center">
  <div *ngIf="currentUser">
    <span><span id="profileCircle"></span><h2>{{ this.currentUser.name }}</h2></span>
    <h6>Insert clever bio here, there won't be a credential system outside of
      "I went/go to X University". Maybe you teach at X University. I dunno</h6>
    <div *ngIf="user && user._id == currentUser._id">
      <button type="button" class="btn btn-primary" (click)="openDialog()">Edit</button>
    </div>
  </div>

  <div>
    <p><span class="qaSelectors" (click)="onQuestionsClick()" [ngClass]="{'selected': view === contentView.questions}">Questions</span>
      <span>&nbsp;&nbsp;&nbsp;</span>
      <span class="qaSelectors" (click)="onAnswersClick()" [ngClass]="{'selected': view === contentView.answers}">Answers</span></p>
  </div>

  <div *ngIf="userQuestions && view === contentView.questions">
    <div *ngFor="let question of userQuestions">
      <div class="questionBox">
        <div (click)="onQuestionClicked(question.questionText)"><a [routerLink]="">{{question.questionText}}</a></div>
      </div>
      <br>
    </div>
  </div>

  <div *ngIf="userAnswers && view === contentView.answers">
    <div *ngFor="let answer of userAnswers">
      <div class="answerBox">
        <h4 (click)="onQuestionClicked(answer.questionText)"><a [routerLink]="">{{ answer.questionText }}</a></h4>
        <div>{{answer.answerText}}</div>
      </div>
      <br>
    </div>
  </div>


</div>
