<div class="container mt-3" *ngIf="userResponse && userResponse.success">
  <section class="row justify-content-center mb-3" *ngIf="currentUser">
    <div class="col-sm-12 text-center">
      <div class="profile-circle" *ngIf="!currentUser.profileImage.length">
        <i class="fas fa-user profile-icon"></i>
      </div>
      <img class="profile-img" src="{{ currentUser.profileImage }}" alt="Your totally rad profile pic" *ngIf="currentUser.profileImage.length">
    </div>

    <div class="col-sm-12 text-center">
      <h2>{{ this.currentUser.name }}</h2>
    </div>

    <div class="col-sm-8 text-center bio" *ngIf="currentUser.bio && !bioMode">
      <h6>{{ this.currentUser.bio }}
        <i *ngIf="user && user._id == currentUser._id" class="fas fa-pencil-alt bio-icon" (click)="editBio()"></i>
      </h6>
    </div>
    <div class="col-sm-8 text-center bio" *ngIf="!currentUser.bio && user && user._id == currentUser._id && !bioMode">
      <h6>You don't currently have a bio
        <i class="fas fa-pencil-alt bio-icon" (click)="editBio()"></i></h6>
    </div>
    <div class="col-sm-4 justify-content-center text-center" *ngIf="bioMode">
      <textarea class="iq-form form-control"
      [(ngModel)]="bioText"
      name="bioText"
      placeholder="Who are you?">
      </textarea>
      <font size="4" class="col-sm-6 bio-edit-button cancel" (click)="bioMode=false">Cancel</font>
      <font size="4" class="col-sm-6 bio-edit-button confirm" (click)="sendBio()">Confirm</font>
    </div>
  </section>

  <section class="row justify-content-center mb-3">
    <div class="col-md-2 col-sm-3 col-7 text-center qa-selectors"
      (click)="onQuestionsClick()" [ngClass]="{'selected': view === contentView.questions}">
      Questions
    </div>
    <div class="col-md-2 col-sm-3 col-7 text-center qa-selectors"
      (click)="onAnswersClick()" [ngClass]="{'selected': view === contentView.answers}">
      Answers
    </div>
    <!--<div class="col-md-2 col-sm-3 col-7 text-center qa-selectors"
      (click)="onKnowledgeClick()" [ngClass]="{'selected': view === contentView.knowledge}">
      Knowledge
    </div>-->
  </section>

  <section *ngIf="userQuestions && userQuestions.length && view === contentView.questions"
    class="row justify-content-center">
    <div class="question-column col-md-6 col-sm-10 col-11 py-2">
      <div *ngFor="let question of userQuestions" class="row justify-content-center">
        <div class="col-12 text-center">
          <app-questioncard
            [question]="question"
            [questionText]="question.questionText"
            [poster]="question.previewAnswer ? question.previewAnswer.poster : ''"
            [answerText]="question.previewAnswer ? question.previewAnswer.answerText : ''">
          </app-questioncard>
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="userAnswers && userAnswers.length && view === contentView.answers"
    class="row justify-content-center">
    <div class="question-column col-md-6 col-sm-10 col-11 py-2">
      <div *ngFor="let answer of userAnswers" class="row justify-content-center">
        <div class="col-12 text-center">
          <app-questioncard
            [question]=""
            [questionText]="answer.questionText"
            [poster]="answer.poster"
            [answerText]="answer.answerText"
            [profileImageUrl]="currentUser.profileImage">
          </app-questioncard>
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="view === contentView.knowledge && this.currentUser">
    <div class="mb-3" *ngFor="let knowledge of knowledgeArray">
      <div class="row justify-content-center">
        <div class="offset-sm-5 col-sm-7 text-left">
          <font size="5"><b class="mr-2">{{ knowledge.index }}</b></font>
          <span class="knowledge-subject pt-2 pr-2 pb-1 pl-2">
            <font size="5" class="mr-2">{{ knowledge.subject }}</font>
            <i class="fas fa-grip-lines fa-lg knowledge-grip"></i>
          </span>
        </div>
      </div>
    </div>
  </section>
</div>

<article class="container mt-3" *ngIf="userResponse && !userResponse.success">
  <div class="row justify-content-center mt-5">
    <div class="col-md-10 col-sm-12 col-12 text-center">
      <h3><b>404 Error</b></h3>
      <h3>The profile you seek does not exist</h3>
    </div>
  </div>
</article>
