@import '~sass/variables';

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.poster-text {
  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.3s;
  border-bottom: solid 2px rgba(255, 255, 255, 0);
  color: $font-main;
}

.poster-text:hover {
  text-decoration: none;
  border-color: $color-primary;
}

.poster-img {
  border-radius: 50%;
  border: solid 2px rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: all $time-fast;
}

.poster-img:hover {
  border-color: $color-primary-very-light;
}

.poster-img-inactive {
  border-radius: 50%;
}

.placeholder-img {
  font-size: 22px;
}

.answernum-text {
  color: $font-light;
}

.question-box {
  border: 1px solid $color-primary;
  border-radius: 10px;
  margin-bottom: 1em;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
}

.question-url {
  cursor: pointer;
  font-size: 1.3em;
  transition: 0.3s;
  display: inline;
  border-bottom: solid 1px rgba(255, 255, 255, 0);
  color: $font-main;
}

.question-url:hover {
  text-decoration: none;
  border-color: $font-main;
}

.preview-text {
  font-size: 1.1em;
}

.options-bar-icon {
  font-size: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.options-bar-icon:hover {
  color: $color-primary;
}
