<div class="no-float pl-4 py-2 mt-2 text-left iq-card-top" *ngIf="cardType === 'header' && question.subject">
  <h3>{{ question.subject }}</h3>
</div>

<div class="no-float text-center py-2 px-2"
  [ngClass]="{'iq-card my-2': cardType === 'single',
    'iq-card-mid': cardType === 'mid' || cardType === 'header', 'iq-card-bottom mb-2': cardType === 'bottom'}">

  <span>
    <span>
      <h4 class="question-url" (click)="questionClicked(questionText)">{{ questionText }}</h4>
    </span>
  </span>

  <div class="row">
    <section class="col-2 text-left" *ngIf="poster">
      <img *ngIf="user" src="{{ user.profileImage }}" class="poster-img img-fluid pl-2"/>
    </section>

    <section class="col-10 text-left pl-0" *ngIf="poster">
      <span (click)="userClicked(question.previewAnswer.posterHandle)" class="poster-text">
        <b> {{ poster }}</b>
      </span>
    </section>
  </div>

  <section class="px-2 col-sm-12 text-left" *ngIf="answerText">
    <div class="preview-text">{{ answerText }}</div>
  </section>

  <section class="col-sm-12 answernum-text noselect" *ngIf="!answerText">
    No Answers
  </section>

  <section class="col-12-sm px-2 mb-2 text-left" *ngIf="question">
    <i class="fas fa-ellipsis-h options-bar-icon" data-toggle="dropdown"></i>
    <ul class="dropdown-menu dropdown-box text-left">
      <li class="dropdown-row" (click)="editQuestionClicked(question)">
        <span class="dropdown-text normal pl-3">
          <i class="fas fa-edit my-3"></i> Edit Question
        </span>
      </li>
      <li class="dropdown-row" (click)="reportQuestionClicked(question)">
        <span class="dropdown-text red pl-3">Report</span>
      </li>
    </ul>
  </section>

</div>
