/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


/* These will all be Bootstrap overrides*/
input{
  border-radius: 9px!important;
}

textarea{
  border-radius: 9px!important;
}

.form-control:focus {
  border-color: #af00b5;
  box-shadow: inset 0 1px 1px rgba(120, 0, 140, 0.075), 0 0 5px rgba(175, 0, 181, 0.4);
}

.btn-primary{
  background-color: rgb(175, 0, 181);
  border-color: rgb(175, 0, 181);
  border-radius: 20px;
}

.btn-primary:hover{
  background-color: rgb(158, 0, 163);
  border-color: rgb(158, 0, 163);
}
