<div class="container">
  <section class="row" style="margin-top:100px;">
    <div class="col-sm-12 text-center">
      <h2>Welcome to Inquantir Support!</h2>
    </div>
  </section>

  <section class="row justify-content-center" style="margin-top: 30px;">
    <div class="col-lg-4 col-sm-6 col-xs-12 h-100" style="margin-top: 30px;">
      <div class="content-box text-center">
        <h4>What is Inquantir?</h4>
        <p>Find out what Inquantir is all about</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 h-100" style="margin-top: 30px;">
      <div class="content-box text-center">
        <h4>Inquantir Introduction</h4>
        <p>A guide on how to get started</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 h-100" style="margin-top: 30px;">
      <div class="content-box text-center">
        <h4>Using Inquantir</h4>
        <p>Learn about advanced features</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 h-100" style="margin-top: 30px;">
      <div class="content-box text-center">
        <h4>Code of Honor</h4>
        <p>An outline of platform policies</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 h-100" style="margin-top: 30px;">
      <div class="content-box text-center">
        <h4>Mathematical Formulas</h4>
        <p>How to express formulas in Inquantir</p>
      </div>
    </div>
  </section>
</div>
