.questionBar {
  margin-top: 10px;
  margin-bottom: 20px;
}

.askButton {
  position: absolute;
  right:    0;
  bottom:   0;
  border-color: #af00b5;
  border-radius: 19px;
  color: #525559;
  background-color: #fff;
}

.askButton:disabled{
  border-color: #ccc;
}

.askButton:hover{
  background-color: #fcfcfc;
}

.closeButton{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: #af00b5;
  transition: 0.5s;
}

.closeButton:hover{
  width: 25px;
  height: 25px;
  background-color: rgba(175, 0, 181, 0.2);
}

textarea {
  resize: none;
  overflow: hidden;
  min-height: 50px;
  max-height: 100px;
}

.sectionTitle{
  color: #a2adbf;
}

.sectionOpenTitle{
  cursor: pointer;
  padding-top: 10px;
  background-color: white;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  margin-bottom: 10px;
  border-bottom: solid 3px rgba(0,0,0,0);
}

.sectionOpenTitle.verified {
  color: #383d44;
}

.sectionOpenTitle.error {
  color: #cd4918;
}

.sectionOpenTitle:hover{
  border-bottom: solid 3px #af00b5;
}

.section-title-animate.verified {
  animation-fill-mode: forwards;
  animation-name: text-color-change-blue;
  animation-duration: 0.4s;
}

.section-title-animate.error {
  animation-fill-mode: forwards;
  animation-name: text-color-change-red;
  animation-duration: 0.4s;
}

.sectionField{
  padding-top: 10px;
}

.hide-element{
  display:none;
}

.confirmText {
  color: #3e7ee6;
}

.input-form {
  margin-bottom: 3px;
}

/* Animations */
@keyframes text-color-change-blue {
  from {color: black;}
  to {color: #3e7ee6;}
}

@keyframes text-color-change-red {
  from {color: black;}
  to {color: #cd4918;}
}
