@import '~sass/variables';

.ask-button {
  position: absolute;
  right:    0;
  bottom:   0;
  border-color: $color-primary;
  border-radius: 19px;
  color: #525559;
  background-color: #fff;
}

.ask-button:disabled {
  border-color: #ccc;
}

.ask-button:hover.enabled {
  background-color: #eee;
}

.close-button {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: $color-primary;
  transition: 0.25s;
}

.close-button:hover {
  width: 25px;
  height: 25px;
  color: $iq-red;
}

textarea {
  resize: vertical;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100px;
  max-height: 100px;
}

.iq-form {
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
  border-top-right-radius: 9px!important;
  border-bottom-right-radius: 9px!important;
  border-left-color: $color-primary;
}

.iq-prepend {
  transition: all 0.4s;
  border-top-left-radius: 9px!important;
  border-bottom-left-radius: 9px!important;
  border-color: $color-primary;
  outline: none;
}

.iq-prepend.enabled {
  color: $color-primary;
}

.iq-prepend.disabled {
  color: #ccc;
}

.iq-prepend:hover.enabled {
  background-color: $color-primary;
  color: #fff;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: $color-primary!important;
  color: #fff;
}

.bubble {
  border-radius: 9px;
  background-color: $color-primary-grey;
  cursor: pointer;
  color: $font-main;
}

.bubble-selected {
  background-color: $color-primary-grey-highlighted;
}

.bubble:hover {
  background-color: $color-primary-grey-highlighted;
}

.line {
  border-bottom: solid 1px #ddd;
}

.tag-container {
  height: 150px;
  overflow-y: scroll;
}

.tag {
  color: #aaa;
  cursor: pointer;
  transition: all 0.2s;
}

.tag.created:hover {
  color: $iq-red;
}

.tag.selected {
  transition: all 0.2s;
  color: $color-primary;
}
