<div class="text-center justify-content-center">
  <h2>Ask Question</h2>
  <p>Be sure to make the question specific, and make sure any subjects or sources are
    <em><b>relevant and useful to others</b></em>.
  </p>
  <div [formGroup]="form" class="questionBar">
    <textarea [ngClass]="{'hide-element': !questionMode}"
      [(ngModel)]="questionText"
      class="form-control input-form"
      placeholder="Ask a question!"
      formControlName="question"
      (keyup)="checkFormComplete()">
    </textarea>

    <div [ngClass]="{'hide-element': questionMode}">
      <h4 [ngClass]="{'hide-element': questionText?.length}" class="sectionOpenTitle" (click)="questionModeOn()">Question</h4>
      <h4 [ngClass]="{'hide-element': !questionText?.length, 'section-title-animate': !questionMode}" class="sectionOpenTitle" (click)="questionModeOn()">{{ questionText }}</h4>
    </div>

    <input [ngClass]="{'hide-element': !topicMode}" #subjectField
      [(ngModel)]="topicText"
      class="form-control input-form"
      formControlName="topic"
      placeholder="Enter topic name"
      (keyup)="subjectKeyup()"
      [typeahead]="subjectSearchResults"
      typeaheadOptionField="name"
      [typeaheadOptionsLimit]="5"
      [typeaheadMinLength]="3"
      (typeaheadOnSelect)="taSubjectSelected($event)">

    <div [ngClass]="{'hide-element': !topicMode}" class="add-subject-div">
      Can't find a subject?<br>
      <button class="btn btn-secondary add-subject-button"
              (click)="addSubject()"
              [disabled]="topicText.length < 4"
              [ngClass]="{'enabled': topicText.length > 3}">
        Add Subject
      </button>
    </div>

    <div [ngClass]="{'hide-element': topicMode}">
      <h4 [ngClass]="{'hide-element': topicText?.length}" class="sectionOpenTitle verified" (click)="topicModeOn()">Topic</h4>
      <h4 [ngClass]="{'hide-element': !topicText?.length,
                      'section-title-animate': !topicMode,
                      'verified': selectedSubject.length,
                      'error': !selectedSubject.length}" class="sectionOpenTitle" (click)="topicModeOn()">{{ topicText }}</h4>
    </div>

    <input #sourceField
      [ngClass]="{'hide-element': !sourceMode}"
      [(ngModel)]="sourceText"
      class="form-control input-form sourceInput"
      formControlName="source"
      placeholder="Enter source"
      (keyup)="sourceKeyup()"
      [typeahead]="sourceSearchResults"
      typeaheadOptionField="name"
      [typeaheadOptionsLimit]="5"
      [typeaheadMinLength]="3"
      (typeaheadOnSelect)="taSourceSelected($event)">

    <div [ngClass]="{'hide-element': !sourceMode}" class="add-subject-div text-center justify-content-center">
      Can't find your homework software/textbook?<br>
      <button class="btn btn-secondary add-source-button"
              (click)="addSource()"
              [disabled]="sourceText.length < 4"
              [ngClass]="{'enabled': sourceText.length > 3}">
        Add Source
      </button>

      <input
        [ngClass]="{'hide-element': !sourceMode && sourceText.length > 4}"
        [(ngModel)]="editionText"
        formControlName="edition"
        class="form-control input-form col-6 offset-3"
        placeholder="Edition, if applicable (e.g. 2)">
    </div>

    <div [ngClass]="{'hide-element': sourceMode}">
      <h4 [ngClass]="{'hide-element': sourceText?.length}" class="sectionOpenTitle" (click)="sourceModeOn()">Source</h4>
      <h4 [ngClass]="{'hide-element': !sourceText?.length,
                      'section-title-animate': !sourceMode,
                      'verified': selectedSource.length,
                      'error': !selectedSource.length}" class="sectionOpenTitle" (click)="sourceModeOn()">{{ sourceText }}</h4>
    </div>
  </div>

  <div style="position:relative;">
    <i class="fas fa-times fa-2x closeButton" (click)="close()"></i>
    <div>
      <button class="btn btn-secondary askButton" (click)="askQuestion()" [disabled]="!formComplete">
        Ask
      </button>
    </div>
  </div>
</div>
