@import '~sass/variables';

.ask-button {
  position: absolute;
  right:    0;
  bottom:   0;
}

.plus-icon {
  font-size: 22px;
  cursor: pointer;
  color: $color-primary;
  transition: all $time-fast;
}

// Temporary Interaction until I come up with a real animation
.plus-icon:hover {

}

.btn:disabled .plus-icon {
  pointer-events: none;
  color: #eee;
}

.btn:disabled {
  pointer-events: none;
}

.close-button {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: $color-primary;
  transition: $time-fast;
}

.close-button:hover {
  width: 25px;
  height: 25px;
  color: $iq-red;
}

textarea {
  resize: vertical;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100px;
  max-height: 100px;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: $color-primary!important;
  color: #fff;
}

.mode {
  border-bottom: solid 3px rgba(255, 255, 255, 0);
  transition: all $time-fast;
  cursor: pointer;
  color: $font-main;
  font-size: 16px;
}

.mode.selected {
  border-bottom: solid 3px $color-primary;
}

.mode:hover:not(.selected) {
  border-bottom: solid 3px $color-primary-grey-highlighted;
}

.line {
  border-bottom: solid 1px #ddd;
}

.tag-container {
  height: 150px;
  overflow-y: auto;
}

.tag {
  color: #aaa;
  cursor: pointer;
  transition: all $time-fast;
}

.tag.created:hover {
  color: $iq-red;
}

.tag.selected {
  transition: all $time-fast;
  color: $color-primary;
}

// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $scroll-bg;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $scroll-thumb;
  border-radius: 2px;
  transition: $time-slow;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $scroll-hover;
}
