#questionBar {
  margin-top: 10px;
  margin-bottom: 20px;
}

#askButton {
  position: absolute;
  right:    0;
  bottom:   0;
}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
}
