#questionBar {
  margin-top: 10px;
  margin-bottom: 20px;
}

#askButton {
  position: absolute;
  right:    0;
  bottom:   0;
}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
}

.sectionTitle{
  color: #a2adbf;
}

.sectionOpenTitle{
  color: #383d44;
  cursor: pointer;
  padding-top: 10px;
  border-radius: 10px;
  background-color: white;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.section-title-animate {
  animation-fill-mode: forwards;
  animation-name: text-color-change;
  animation-duration: 0.4s;
}

.sectionField{
  padding-top: 10px;
}

.hide-element{
  display:none;
}

.confirmText {
  color: #3e7ee6;
}

.sectionOpenTitle:hover{
  background-color: #e8b1fc;
}

/* Animations */
@keyframes text-color-change {
  from {color: black;}
  to {color: #3e7ee6;}
}
