<div>
  <h2 mat-dialog-title>Ask Question</h2>
  <hr>
  <mat-dialog-content>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam maxime cum dolorem officiis assumenda rem alias, omnis nobis nam. Ratione soluta libero architecto cupiditate at fugit consectetur sit dignissimos vitae.
    <br>
    <br>
    <strong>{{data}}</strong>
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <button mat-raised-button (click)="onCloseConfirm()">CONFIRM</button>&nbsp;
    <button mat-raised-button (click)="onCloseCancel()">CANCEL</button>
  </mat-dialog-actions>
</div>
